<div class="row">
  <div class="col-sm-12">
    <!-- Basic Form Inputs card start -->
    <app-card [title]="'Project'" [cardOptionBlock]="true">
    <form>
      <wizard >
  <wizard-step [canExit]="canExitStep1" stepTitle="Project">
          
          <div class="form-group row"></div>
    <div class="form-group row">
          <label class="col-sm-2">Name:</label>
          <div class="col-sm-2">
           <input type="text" class="form-control" name="projectName" [(ngModel)]="projectModel.name">
         </div> 
           </div>   

      <div class="form-group row"></div>
    <div class="form-group row">
          <label class="col-sm-2">List Project for:</label>
          <div class="col-sm-2">
            <ng-select [ngClass]="'ng-select'" [options]="propertyTypeOption" name="type" [(ngModel)]="projectModel.type"></ng-select>
          </div>
        </div>
        <div class="form-group row"></div>
        <div class="form-group row"></div>
        <div class="form-group row"></div>
        <div class="form-group row"></div>
        <div class="form-group row"></div>
       <button type="button" nextStep>Next Step</button>
  </wizard-step>

  <wizard-step stepTitle="Location">
    <div class="form-group row"></div>
     <div class="form-group row">
          <label class="col-sm-3">City</label>
          <div class="col-sm-3">
            <ng-select [ngClass]="'ng-select'" [options]="cityOption" name="city" [(ngModel)]="projectModel.location.city"></ng-select>
          </div>
          <label class="col-sm-3">Project Name</label>
          <div class="col-sm-3">
            <input type="text" class="form-control" name="ProjectName" [(ngModel)]="projectModel.location.projectName">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3">Locality</label>
          <div class="col-sm-3">
            <input type="text" class="form-control" name="Locality" [(ngModel)]="projectModel.location.locality">
          </div>
        </div>
        <div class="form-group row"></div>
        <div class="form-group row"></div>
        <div class="form-group row"></div>
        <div class="form-group row"></div>
        <button type="button" previousStep>Go to previous step</button>
    <button type="button" nextStep>Go to next step</button>
  </wizard-step>

  <wizard-step stepTitle="plans" >
    <div class="form-group row"></div>
    
     <div class="form-group row">
          <label class="col-sm-2">Area : </label>
          <div class="col-sm-2">
            <input type="text" class="form-control"  name="area" [(ngModel)]="projectModel.plan.area">
          </div>

          <label class="col-sm-2">Area Unit : </label>
          <div class="col-sm-2">
            <ng-select [ngClass]="'ng-select'" [options]="areaUnitOption" name="areaUnit" [(ngModel)]="projectModel.plan.areaUnit"></ng-select>
          </div>
          <label class="col-sm-2">Base Price : </label>
          <div class="col-sm-2">
            <input type="text" class="form-control"  name="basePrice" [(ngModel)]="projectModel.plan.basePrice">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2">Type : </label>
          <div class="col-sm-2">
            <input type="text" class="form-control"  name="area" [(ngModel)]="projectModel.plan.type">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2">Floor Plan : </label></div>
          <div class="form-group row">

          <label class="col-sm-2">Tag : </label>
          <div class="col-sm-2">
            <input type="text" class="form-control"  name="tag" [(ngModel)]="projectModel.plan.floorPlan.tag">
          </div>
          <label class="col-sm-2">File : </label>

          <input type="file"
           id="file" multiple
           (change)="handlePlanImage($event.target.files)">
          </div>
        <button type="button" previousStep>Go to previous step</button>
    <button type="button" nextStep>Go to next step</button>
  </wizard-step>
  <wizard-step stepTitle="banner" >
    <div class="form-group row"></div>
    
     <div class="form-group row">
          <label class="col-sm-2">Banner Type : </label>
          <div class="col-sm-2">
            <ng-select [ngClass]="'ng-select'" [options]="bannerTypeOption" name="bannerType" [(ngModel)]="projectModel.banner.bannerType"></ng-select>
          </div>

          <label class="col-sm-2">Title : </label>
          <div class="col-sm-2">
           <input type="text" class="form-control"  name="title" [(ngModel)]="projectModel.banner.title">
          </div>

          <label class="col-sm-2">Website : </label>
          <div class="col-sm-2">
            <input type="text" class="form-control"  name="website" [(ngModel)]="projectModel.banner.website">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2">Photo : </label>
          <div class="col-sm-2">
          </div>

          <label class="col-sm-2">Tag : </label>
          <div class="col-sm-2">
            <input type="text" class="form-control"  name="tag" [(ngModel)]="projectModel.banner.tag">
          </div>
          <label class="col-sm-2">File : </label>

          <input type="file"
           id="file" multiple
           (change)="handleBannerImage($event.target.files)">
          </div>
        <button type="button" previousStep>Go to previous step</button>
    <button type="button" nextStep>Go to next step</button>
  </wizard-step>

  <wizard-step stepTitle="Gallery" >
    

    <div class="form-group row"></div>

        <div class="form-group row">
          <label class="col-sm-2">Photo : </label>
          <div class="col-sm-2">
          </div>

          <label class="col-sm-2">Tag : </label>
          <div class="col-sm-2">
            <input type="text" class="form-control"  name="tag" [(ngModel)]="projectModel.gallery.tag">
          </div>
          <label class="col-sm-2">File : </label>

          <input type="file"
           id="file" multiple
           (change)="handleGalleryImage($event.target.files)">
          </div>
        <button type="button" previousStep>Go to previous step</button>
    <button type="button" nextStep>Go to next step</button>
  </wizard-step>

  <wizard-step stepTitle="Features">
     
    <div class="form-group row"></div>
       <div class="form-group row">
          <label class="col-sm-2">Availability</label>
          <div class="col">
          
           <ng-select [ngClass]="'ng-select'" [options]="availabilityOption" name="availability" [(ngModel)]="projectModel.availability"></ng-select>
          </div>
        </div>

        <div class="form-group row">
        <label class="col-sm-2">Amenities</label>
        </div>
        <div class="form-group row">
          <div class="amenities col-sm-2" *ngFor="let item of amenitiesMenu; let i = index" [class.amenactive]="isExist(item.name) != -1" (click)="setAmenties(item.name)">
          <i></i>
            <div class="amenityIcons" [ngClass]=item.className></div>
          <span class="ng-binding">{{item.name}}</span>
        </div></div>

        <div class="form-group row">
          <label class="col-sm-2">Overview</label>
          <div class="col">
          
          <input type="text" class="form-control"  name="overview" [(ngModel)]="projectModel.overview">
          </div>
        </div>
       <div class="form-group row">
          <label class="col-sm-2">Specifications</label>
        </div>
    <div class="form-group row">
          <label class="col-sm-2">Content</label>
          <div class="col">
            <textarea class="form-control" rows="5" name="content" [(ngModel)]="projectModel.specifications.content" id="comment"></textarea>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2">Title:</label>
          <div class="col-sm-2">
            <input type="text" class="form-control"  name="title" [(ngModel)]="projectModel.specifications.title">
          </div>
        </div>
      <div *ngIf="projectModel.isSubmitted">
        <h4>Thank you! You have completed all the steps.</h4>
      </div>
    <button type="button" previousStep>Previous Step</button>
    <button type="button" (click)="saveMethod()">Finish</button>
  </wizard-step> </wizard>
</form>

    
     </app-card></div></div>