

		<!-- SLIDE TOP -->
		




			<!-- SLIDER -->
			
			<!-- /SLIDER -->

            
			<!-- Welcome -->
			<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
								<div id="Carousel" class="carousel slide">
								 
								<ol class="carousel-indicators">
									<li data-target="#Carousel" data-slide-to="0" class="active"></li>
									<li data-target="#Carousel" data-slide-to="1"></li>
									<li data-target="#Carousel" data-slide-to="2"></li>
								</ol>
								 
								<!-- Carousel items -->
								<div class="carousel-inner">
									
								<div class="item active">
									<div class="row">
									  <div class="col-md-3"><img src="assets/images/projects/project1.png" alt="Image" style="max-width:100%;"></div>
									  <div class="col-md-3"><img src="assets/images/projects/project2.png" alt="Image" style="max-width:100%;"></div>
									  <div class="col-md-3"><img src="assets/images/projects/project3.png" alt="Image" style="max-width:100%;"></div>
									  <div class="col-md-3"><img src="assets/images/projects/project4.png" alt="Image" style="max-width:100%;"></div>
									</div><!--.row-->
								</div><!--.item-->
								 
								<div class="item">
									<div class="row">
										<div class="col-md-3"><img src="assets/images/projects/project1.png" alt="Image" style="max-width:100%;"></div>
										<div class="col-md-3"><img src="assets/images/projects/project1.png" alt="Image" style="max-width:100%;"></div>
										<div class="col-md-3"><img src="assets/images/projects/project2.png" alt="Image" style="max-width:100%;"></div>
										<div class="col-md-3"><img src="assets/images/projects/project2.png" alt="Image" style="max-width:100%;"></div>
									</div><!--.row-->
								</div><!--.item-->
								 
								<div class="item">
									<div class="row">
										<div class="col-md-3"><img src="assets/images/projects/project3.png" alt="Image" style="max-width:100%;"></div>
										<div class="col-md-3"><img src="assets/images/projects/project3.png" alt="Image" style="max-width:100%;"></div>
										<div class="col-md-3"><img src="assets/images/projects/project4.png" alt="Image" style="max-width:100%;"></div>
										<div class="col-md-3"><img src="assets/images/projects/project4.png" alt="Image" style="max-width:100%;"></div>
									</div><!--.row-->
								</div><!--.item-->
								
								 
								</div><!--.carousel-inner-->
								  ‹
								  ›
								</div><!--.Carousel-->
						</div>
					</div>
				</div><!--.container-->
			<!-- Welcome -->


			<!-- -->
			<section class="alternate">
					<div class="container">

							<div class="row">
							
									<div class="heading-title heading-dotted">
											<h2 class="size-20">EXPLORE REAL ESTATE IN INDIA</h2>
									</div>
									<div class="jumbotron explore-property">
											<div class="col-md-3 col-sm-3 explore-list">
													<form>
														 <div class="checkbox">
															<label><input type="checkbox" value="">Delhi / NCR (22+)</label>
														  </div>
														  <div class="checkbox">
															<label><input type="checkbox" value="">Bangalore (5+)</label>
														  </div>
														  <div class="checkbox">
																<label><input type="checkbox" value="">Pune (2+)</label>
															  </div>
														<div class="checkbox">
																<label><input type="checkbox" value="">Chennai (1+)</label>
														</div>
														</form>
											</div>
											<div class="col-md-3 col-sm-3 explore-list">
													<form>
														 <div class="checkbox">
															<label><input type="checkbox" value="">Hyderabad (10+)</label>
														  </div>
														  <div class="checkbox">
															<label><input type="checkbox" value="">Mumbai (2+)</label>
														  </div>
														  <div class="checkbox">
																<label><input type="checkbox" value="">Other Cities (12+)</label>
														</div>
														</form>
															  
												</div>
											<div class="col-md-3 col-sm-3">
													<div class="dropdown">
															<button class="btn btn-primary dropdown-toggle explore-btn" type="button" data-toggle="dropdown">Property Type
															<span class="caret"></span></button>
															
															<ul class="dropdown-menu">
																	<li><div class="checkbox">
																		  <label><input type="checkbox" value="">Residential Apartment</label>
																  </div></li>
																  <li><div class="checkbox">
																		<label><input type="checkbox" value="">Commercial Shops</label>
																</div></li>
																<li><div class="checkbox">
																		<label><input type="checkbox" value="">Independent House/Villa</label>
																</div></li>
																	<li><div class="checkbox">
																		  <label><input type="checkbox" value="">Residential Land</label>
																  </div></li>
																	<li><div class="checkbox">
																		  <label><input type="checkbox" value="">Commercial Office/Space </label>
																  </div></li>
																  </ul>
													</div>
		
											</div>
											<div class="col-md-3 col-sm-3">
													<div class="dropdown">
															<button class="btn btn-primary dropdown-toggle explore-btn" type="button" data-toggle="dropdown">Construction Status
															<span class="caret"></span></button>
															<ul class="dropdown-menu">
															  <li><div class="checkbox">
																	<label><input type="checkbox" value="">Under Construction</label>
															</div></li>
															  <li><div class="checkbox">
																	<label><input type="checkbox" value="">Ready To Move</label>
															</div></li>
															  <li><div class="checkbox">
																	<label><input type="checkbox" value="">New Launch </label>
															</div></li>
															</ul>
													</div>
		
											</div>
									
		
									</div>
						
		
							</div>
		
						</div>
				<div class="container">

					<div class="row">
						<div class="col-md-2 col-sm-2">
								PROPERTY GALLERY<hr/>
								<div class="thumbnail">
										
										  <img src="assets/images/property-gallery/celebrity-serenity-s-150x100.gif" alt="image" class="img-responsive">
										
							    </div>
								<div class="thumbnail">
										
										  <img src="assets/images/property-gallery/amaravati-one-s-150x100.gif" alt="image" class="img-responsive">
										
								</div>
								<div class="thumbnail">
										
										  <img src="assets/images/property-gallery/celebrity-sqaure-s-150x100.gif" alt="image" class="img-responsive">
										
								</div>
								<div class="thumbnail">
										
										  <img src="assets/images/property-gallery/claritas-anika-s-1-150x100.gif" alt="image" class="img-responsive">
										
								</div>
								<div class="thumbnail">
										
										  <img src="assets/images/property-gallery/elan-miracle-s-150x100.gif" alt="image" class="img-responsive">
										
								</div>
								<div class="thumbnail">
										
										  <img src="assets/images/property-gallery/fortune-butterfly-city-s-150x100.gif" alt="image" class="img-responsive">
										
								</div>
								<div class="thumbnail">
										
										  <img src="assets/images/property-gallery/kmv-projects-s-150x100.gif" alt="image" class="img-responsive">
										
								</div>
								<div class="thumbnail">
										
										  <img src="assets/images/property-gallery/kw-delhi6-hj-150x100.gif" alt="image" class="img-responsive">
										
								</div>
								<div class="thumbnail">
										
										  <img src="assets/images/property-gallery/life-republic-new-s-150x100.gif" alt="image" class="img-responsive">
										
								</div>
								<div class="thumbnail">
										
										  <img src="assets/images/property-gallery/mahagun-manorial-hj-150x100.gif" alt="image" class="img-responsive">
										
								</div>
								<div class="thumbnail">
										
										  <img src="assets/images/property-gallery/mahagun-mantra-hj-150x100.gif" alt="image" class="img-responsive">
										
								</div>
								<div class="thumbnail">
										
										  <img src="assets/images/property-gallery/amaravati-one-s-150x100.gif" alt="image" class="img-responsive">
										
								</div>
								<div class="thumbnail">
										
										  <img src="assets/images/property-gallery/celebrity-sqaure-s-150x100.gif" alt="image" class="img-responsive">
										
								</div>
								<div class="thumbnail">
										
										  <img src="assets/images/property-gallery/claritas-anika-s-1-150x100.gif" alt="image" class="img-responsive">
										
								</div>
								<div class="thumbnail">
										
										  <img src="assets/images/property-gallery/elan-miracle-s-150x100.gif" alt="image" class="img-responsive">
										
								</div>
								<div class="thumbnail">
										
										  <img src="assets/images/property-gallery/fortune-butterfly-city-s-150x100.gif" alt="image" class="img-responsive">
										
								</div>
								<div class="thumbnail">
										
										  <img src="assets/images/property-gallery/kmv-projects-s-150x100.gif" alt="image" class="img-responsive">
										
								</div>
								<div class="thumbnail">
										
										  <img src="assets/images/property-gallery/kw-delhi6-hj-150x100.gif" alt="image" class="img-responsive">
										
								</div>
								<div class="thumbnail">
										
										  <img src="assets/images/property-gallery/life-republic-new-s-150x100.gif" alt="image" class="img-responsive">
										
								</div>
								<div class="thumbnail">
										
										  <img src="assets/images/property-gallery/mahagun-manorial-hj-150x100.gif" alt="image" class="img-responsive">
										
								</div>
								<div class="thumbnail">
										
										  <img src="assets/images/property-gallery/mahagun-mantra-hj-150x100.gif" alt="image" class="img-responsive">
										
							    </div>
						</div>

						<div class="col-md-10 col-sm-10">
								FEATURED NEW PROJECTS<hr/>
						<!-- Projects -->
						<div class="col-md-4 col-sm-4">
								<h4>Delhi 8055 new projects</h4>
								<h5>RESIDENTIAL APARTMENT</h5>
								<div class="list-group">
										
										  <h4 class="list-group-item-heading">Mahagun Meadows - Sector - 150 Noida</h4>
										  <p class="list-group-item-text">₹ 73.67 Lac to 1.76 Cr</p>
										
										
												<h4 class="list-group-item-heading">Mahagun Meadows - Sector - 150 Noida</h4>
												<p class="list-group-item-text">₹ 73.67 Lac to 1.76 Cr</p>
										
										
												<h4 class="list-group-item-heading">Mahagun Meadows - Sector - 150 Noida</h4>
												<p class="list-group-item-text">₹ 73.67 Lac to 1.76 Cr</p>
											  
											  
													  <h4 class="list-group-item-heading">Mahagun Meadows - Sector - 150 Noida</h4>
													  <p class="list-group-item-text">₹ 73.67 Lac to 1.76 Cr</p>
										
										
												<h4 class="list-group-item-heading">Mahagun Meadows - Sector - 150 Noida</h4>
												<p class="list-group-item-text">₹ 73.67 Lac to 1.76 Cr</p>
											  
											  
													  <h4 class="list-group-item-heading">Mahagun Meadows - Sector - 150 Noida</h4>
													  <p class="list-group-item-text">₹ 73.67 Lac to 1.76 Cr</p>
										
										
												<h4 class="list-group-item-heading">Mahagun Meadows - Sector - 150 Noida</h4>
												<p class="list-group-item-text">₹ 73.67 Lac to 1.76 Cr</p>
											  
											  
													  <h4 class="list-group-item-heading">Mahagun Meadows - Sector - 150 Noida</h4>
													  <p class="list-group-item-text">₹ 73.67 Lac to 1.76 Cr</p>
									 
									 
											<h4 class="list-group-item-heading">Mahagun Meadows - Sector - 150 Noida</h4>
											<p class="list-group-item-text">₹ 73.67 Lac to 1.76 Cr</p>
										  
										  
												  <h4 class="list-group-item-heading">Mahagun Meadows - Sector - 150 Noida</h4>
												  <p class="list-group-item-text">₹ 73.67 Lac to 1.76 Cr</p>
									

									  </div>
								<h5>COMMERCIAL SHOPS</h5>
								<div class="list-group">
										
										  <h4 class="list-group-item-heading">Mahagun Meadows - Sector - 150 Noida</h4>
										  <p class="list-group-item-text">₹ 73.67 Lac to 1.76 Cr</p>
										
										
												<h4 class="list-group-item-heading">Mahagun Meadows - Sector - 150 Noida</h4>
												<p class="list-group-item-text">₹ 73.67 Lac to 1.76 Cr</p>
										
										
												<h4 class="list-group-item-heading">Mahagun Meadows - Sector - 150 Noida</h4>
												<p class="list-group-item-text">₹ 73.67 Lac to 1.76 Cr</p>
											  
											  
													  <h4 class="list-group-item-heading">Mahagun Meadows - Sector - 150 Noida</h4>
													  <p class="list-group-item-text">₹ 73.67 Lac to 1.76 Cr</p>
										
										
												<h4 class="list-group-item-heading">Mahagun Meadows - Sector - 150 Noida</h4>
												<p class="list-group-item-text">₹ 73.67 Lac to 1.76 Cr</p>
											  
											  
													  <h4 class="list-group-item-heading">Mahagun Meadows - Sector - 150 Noida</h4>
													  <p class="list-group-item-text">₹ 73.67 Lac to 1.76 Cr</p>
										
										
												<h4 class="list-group-item-heading">Mahagun Meadows - Sector - 150 Noida</h4>
												<p class="list-group-item-text">₹ 73.67 Lac to 1.76 Cr</p>
											  
											  
													  <h4 class="list-group-item-heading">Mahagun Meadows - Sector - 150 Noida</h4>
													  <p class="list-group-item-text">₹ 73.67 Lac to 1.76 Cr</p>
									 
									 
											<h4 class="list-group-item-heading">Mahagun Meadows - Sector - 150 Noida</h4>
											<p class="list-group-item-text">₹ 73.67 Lac to 1.76 Cr</p>
										  
										  
												  <h4 class="list-group-item-heading">Mahagun Meadows - Sector - 150 Noida</h4>
												  <p class="list-group-item-text">₹ 73.67 Lac to 1.76 Cr</p>
									

									  </div>
						</div>
						<!-- /projects -->

						<!-- projects -->
						<div class="col-md-4 col-sm-4">
							<h4>Mumbai 30918 new projects</h4>

							<h5>RESIDENTIAL APARTMENT</h5>
								<div class="list-group">
										
										  <h4 class="list-group-item-heading">Mahagun Meadows - Sector - 150 Noida</h4>
										  <p class="list-group-item-text">₹ 73.67 Lac to 1.76 Cr</p>
										
										
												<h4 class="list-group-item-heading">Mahagun Meadows - Sector - 150 Noida</h4>
												<p class="list-group-item-text">₹ 73.67 Lac to 1.76 Cr</p>
										
										
												<h4 class="list-group-item-heading">Mahagun Meadows - Sector - 150 Noida</h4>
												<p class="list-group-item-text">₹ 73.67 Lac to 1.76 Cr</p>
											  
											  
													  <h4 class="list-group-item-heading">Mahagun Meadows - Sector - 150 Noida</h4>
													  <p class="list-group-item-text">₹ 73.67 Lac to 1.76 Cr</p>
										
										
												<h4 class="list-group-item-heading">Mahagun Meadows - Sector - 150 Noida</h4>
												<p class="list-group-item-text">₹ 73.67 Lac to 1.76 Cr</p>
											  
											  
													  <h4 class="list-group-item-heading">Mahagun Meadows - Sector - 150 Noida</h4>
													  <p class="list-group-item-text">₹ 73.67 Lac to 1.76 Cr</p>
										
										
									  </div>
									  <h4>Chennai 15562 new projects</h4>

							<h5>RESIDENTIAL APARTMENT</h5>
								<div class="list-group">
										
										  <h4 class="list-group-item-heading">Mahagun Meadows - Sector - 150 Noida</h4>
										  <p class="list-group-item-text">₹ 73.67 Lac to 1.76 Cr</p>
										
										
												<h4 class="list-group-item-heading">Mahagun Meadows - Sector - 150 Noida</h4>
												<p class="list-group-item-text">₹ 73.67 Lac to 1.76 Cr</p>
										
										
										
												<h4 class="list-group-item-heading">Mahagun Meadows - Sector - 150 Noida</h4>
												<p class="list-group-item-text">₹ 73.67 Lac to 1.76 Cr</p>
											  
											  
													  <h4 class="list-group-item-heading">Mahagun Meadows - Sector - 150 Noida</h4>
													  <p class="list-group-item-text">₹ 73.67 Lac to 1.76 Cr</p>
										
										
									  </div>

						</div>
						<!-- /projects -->

						<!-- projects -->
						<div class="col-md-4 col-sm-4">
							<h4>Bangalore 18175 new projects</h4>
							<h5>RESIDENTIAL APARTMENT</h5>
								<div class="list-group">
										
										  <h4 class="list-group-item-heading">Mahagun Meadows - Sector - 150 Noida</h4>
										  <p class="list-group-item-text">₹ 73.67 Lac to 1.76 Cr</p>
										
										
												<h4 class="list-group-item-heading">Mahagun Meadows - Sector - 150 Noida</h4>
												<p class="list-group-item-text">₹ 73.67 Lac to 1.76 Cr</p>
										
										
												<h4 class="list-group-item-heading">Mahagun Meadows - Sector - 150 Noida</h4>
												<p class="list-group-item-text">₹ 73.67 Lac to 1.76 Cr</p>
											  
									  </div>
									  <h5>INDEPENDENT HOUSE/VILLA</h5>
								<div class="list-group">
										
										  <h4 class="list-group-item-heading">Mahagun Meadows - Sector - 150 Noida</h4>
										  <p class="list-group-item-text">₹ 73.67 Lac to 1.76 Cr</p>
										
										
												<h4 class="list-group-item-heading">Mahagun Meadows - Sector - 150 Noida</h4>
												<p class="list-group-item-text">₹ 73.67 Lac to 1.76 Cr</p>
										
										
									  </div>
									  <h4>Hyderabad 15650 new projects</h4>

							<h5>RESIDENTIAL LAND</h5>
								<div class="list-group">
										
										  <h4 class="list-group-item-heading">Mahagun Meadows - Sector - 150 Noida</h4>
										  <p class="list-group-item-text">₹ 73.67 Lac to 1.76 Cr</p>
										
										
									  </div>
									  <h5>INDEPENDENT HOUSE/VILLA</h5>
								<div class="list-group">
										
										  <h4 class="list-group-item-heading">Mahagun Meadows - Sector - 150 Noida</h4>
										  <p class="list-group-item-text">₹ 73.67 Lac to 1.76 Cr</p>
										
										
												<h4 class="list-group-item-heading">Mahagun Meadows - Sector - 150 Noida</h4>
												<p class="list-group-item-text">₹ 73.67 Lac to 1.76 Cr</p>
										
										
										
												<h4 class="list-group-item-heading">Mahagun Meadows - Sector - 150 Noida</h4>
												<p class="list-group-item-text">₹ 73.67 Lac to 1.76 Cr</p>
											  
											  
													  <h4 class="list-group-item-heading">Mahagun Meadows - Sector - 150 Noida</h4>
													  <p class="list-group-item-text">₹ 73.67 Lac to 1.76 Cr</p>
										
										
									  </div>
									  <h5>RESIDENTIAL APARTMENT</h5>
								<div class="list-group">
										
										  <h4 class="list-group-item-heading">Mahagun Meadows - Sector - 150 Noida</h4>
										  <p class="list-group-item-text">₹ 73.67 Lac to 1.76 Cr</p>
										
										
												<h4 class="list-group-item-heading">Mahagun Meadows - Sector - 150 Noida</h4>
												<p class="list-group-item-text">₹ 73.67 Lac to 1.76 Cr</p>
										
										
										
												<h4 class="list-group-item-heading">Mahagun Meadows - Sector - 150 Noida</h4>
												<p class="list-group-item-text">₹ 73.67 Lac to 1.76 Cr</p>
											  
											  
													  <h4 class="list-group-item-heading">Mahagun Meadows - Sector - 150 Noida</h4>
													  <p class="list-group-item-text">₹ 73.67 Lac to 1.76 Cr</p>
										
										
									  </div>
									  <h5>COMMERCIAL SHOPS</h5>
								<div class="list-group">
										
										  <h4 class="list-group-item-heading">Mahagun Meadows - Sector - 150 Noida</h4>
										  <p class="list-group-item-text">₹ 73.67 Lac to 1.76 Cr</p>
										
										
												<h4 class="list-group-item-heading">Mahagun Meadows - Sector - 150 Noida</h4>
												<p class="list-group-item-text">₹ 73.67 Lac to 1.76 Cr</p>
										
										
										
												<h4 class="list-group-item-heading">Mahagun Meadows - Sector - 150 Noida</h4>
												<p class="list-group-item-text">₹ 73.67 Lac to 1.76 Cr</p>
											  
											  
													  <h4 class="list-group-item-heading">Mahagun Meadows - Sector - 150 Noida</h4>
													  <p class="list-group-item-text">₹ 73.67 Lac to 1.76 Cr</p>
										
										
									  </div>
									  <h5>COMMERCIAL OFFICE/SPACE</h5>
									  <div class="list-group">
											  
												<h4 class="list-group-item-heading">Mahagun Meadows - Sector - 150 Noida</h4>
												<p class="list-group-item-text">₹ 73.67 Lac to 1.76 Cr</p>
											  
											  
													  <h4 class="list-group-item-heading">Mahagun Meadows - Sector - 150 Noida</h4>
													  <p class="list-group-item-text">₹ 73.67 Lac to 1.76 Cr</p>
											  
											  
											  
													  <h4 class="list-group-item-heading">Mahagun Meadows - Sector - 150 Noida</h4>
													  <p class="list-group-item-text">₹ 73.67 Lac to 1.76 Cr</p>
													
													
															<h4 class="list-group-item-heading">Mahagun Meadows - Sector - 150 Noida</h4>
															<p class="list-group-item-text">₹ 73.67 Lac to 1.76 Cr</p>
											  
											  
											</div>
											<h4>Other Cities 1788 new projects</h4>

											<h5>RESIDENTIAL LAND</h5>
												<div class="list-group">
														
														  <h4 class="list-group-item-heading">Mahagun Meadows - Sector - 150 Noida</h4>
														  <p class="list-group-item-text">₹ 73.67 Lac to 1.76 Cr</p>
														
														
													  </div>
													  <h5>INDEPENDENT HOUSE/VILLA</h5>
												<div class="list-group">
														
														  <h4 class="list-group-item-heading">Mahagun Meadows - Sector - 150 Noida</h4>
														  <p class="list-group-item-text">₹ 73.67 Lac to 1.76 Cr</p>
														
														
																<h4 class="list-group-item-heading">Mahagun Meadows - Sector - 150 Noida</h4>
																<p class="list-group-item-text">₹ 73.67 Lac to 1.76 Cr</p>
														
														
														
																<h4 class="list-group-item-heading">Mahagun Meadows - Sector - 150 Noida</h4>
																<p class="list-group-item-text">₹ 73.67 Lac to 1.76 Cr</p>
															  
															  
																	  <h4 class="list-group-item-heading">Mahagun Meadows - Sector - 150 Noida</h4>
																	  <p class="list-group-item-text">₹ 73.67 Lac to 1.76 Cr</p>
														
														
													  </div>

							



						</div>
						<!-- /projects -->
                 </div>
					</div>

				</div>
			

					
			</section>
			<!-- / -->
<section>
					<div class="container">
							<div class="heading-title heading-dotted">
									<h2 class="size-20">FEATURED PROPERTY DEALERS - ALL INDIA</h2>
							</div>
							<form>
									<label class="checkbox-inline">
									  <input type="checkbox" value="">Delhi/ NCR (3)
									</label>
									<label class="checkbox-inline">
									  <input type="checkbox" value="">Pune (2)
									</label>
								  </form>
							<div id="myCarousel" class="carousel slide" data-ride="carousel">
							
							  <!-- Wrapper for slides -->
							  <div class="carousel-inner">
							  
								<div class="item active">
								  <img src="assets/images/property-dealers/property-dealer1.jpeg">
								   <div class="carousel-caption">
									<h4>Delhi</h4>
									<p>158 Apartment<br/>
											15 House/Villa<br/>
											2 Land</p>
								  </div>
								</div><!-- End Item -->
						 
								 <div class="item">
								  <img src="assets/images/property-dealers/property-dealer2.jpg">
								   <div class="carousel-caption">
										<h4>Greater Noida</h4>
										<p>158 Apartment<br/>
												15 House/Villa<br/>
												2 Land</p>
									  </div>
								</div><!-- End Item -->
								
								<div class="item">
								  <img src="assets/images/property-dealers/property-dealer3.jpeg">
								   <div class="carousel-caption">
										<h4>Pune</h4>
										<p>158 Apartment<br/>
												15 House/Villa<br/>
												2 Land</p>
									  </div>
								</div><!-- End Item -->
								
								<div class="item">
								  <img src="assets/images/property-dealers/property-dealer4.jpeg">
								   <div class="carousel-caption">
										<h4>Noida</h4>
										<p>158 Apartment<br/>
												15 House/Villa<br/>
												2 Land</p>
									  </div>
								</div><!-- End Item -->
						
								<div class="item">
								  <img src="assets/images/property-dealers/property-dealer5.jpeg">
								   <div class="carousel-caption">
										<h4>Pune</h4>
										<p>
												80 Apartment<br/>
												2 Studio Apartment<br/>
												1 House/Villa<br/>
									  </div>
								</div><!-- End Item -->
										
							  </div><!-- End Carousel Inner -->
						
						
							<ul class="list-group col-sm-4">
							  <li data-target="#myCarousel" data-slide-to="0" class="list-group-item"><h4>Indiprops overses services</h4></li>
							  <li data-target="#myCarousel" data-slide-to="1" class="list-group-item"><h4>STA Solutions</h4></li>
							  <li data-target="#myCarousel" data-slide-to="2" class="list-group-item"><h4>ABC Builders</h4></li>
							  <li data-target="#myCarousel" data-slide-to="3" class="list-group-item"><h4>Sigma realtech</h4></li>
							  <li data-target="#myCarousel" data-slide-to="4" class="list-group-item"><h4>Axis Builcon</h4></li>
							</ul>
						
							  <!-- Controls -->
							  <div class="carousel-controls">
								  
									<span class="glyphicon glyphicon-chevron-left"></span>
								  
								 
									<span class="glyphicon glyphicon-chevron-right"></span>
								  
							  </div>
						
							</div><!-- End Carousel -->
						</div>
						
			</section>

			<!-- FEATURED PROPERTY DEALERS - ALL INDIA -->
			
			<!-- /FEATURED PROPERTY DEALERS - ALL INDIA -->
			<!-- ASK & ANSWER -->
			<section>
					<div class="container">
							<div class="heading-title heading-dotted">
									<h2 class="size-20">ASK & ANSWER</h2>
							</div>
							<div class="jumbotron">
									<h3>Discuss all about property here</h3>
									<p>4000+ questions and answers on real estate!</p> 
									<form>
											<div class="input-group">
											  <input type="text" class="form-control" placeholder="ASK A QUESTION">
											  <div class="input-group-btn">
												<button class="btn btn-success" type="submit">
												  <i class="glyphicon glyphicon-comment"></i>ASK NOW
												</button>
											  </div>
											</div>
									</form>
								  </div>
						
						</div>
			</section>
			<!-- /ASK & ANSWER -->
			
			<!-- CALLOUT -->
			<div class="alert alert-transparent bordered-bottom nomargin">
				<div class="container">

					<div class="row">

						<div class="col-md-9 col-sm-12"><!-- left text -->
							<h3>Call now at <span><strong>+800-565-2390</strong></span> and get 15% discount!</h3>
							<p class="font-lato weight-300 size-20 nomargin-bottom">
								We truly care about our users and our product.
							</p>
						</div><!-- /left text -->

						
						<div class="col-md-3 col-sm-12 text-right"><!-- right btn -->
							PURCHASE NOW
						</div><!-- /right btn -->

					</div>

				</div>
			
			<!-- /CALLOUT -->



			
			<!-- /FOOTER -->

		</div>




			



		
		
		
	