*.java.hsp
*.sonarj
*.sw*
.DS_Store
.settings
.esycationBeans
**\bin
**\build.sh
integration-repo
ivy-cache
jxl.log
jmx.log
derby.log
esycation-test/test-output/
.gradle
argfile*
**/build
**/buildSrc/build
/esycation-*/build
/src/asciidoc/build
target/
*.log
# Eclipse artifacts, including WTP generated manifests
.classpath
.project
esycation-*/src/main/java/META-INF/MANIFEST.MF

# IDEA artifacts and output dirs
*.iml
*.ipr
*.iws
.idea
**\.settings
**\.classpath
**\.project
*.port
*.pid
out
test-output
atlassian-ide-plugin.xml
.gradletasknamecache
*.project
esycation-service/report-service/.project
*.project
*.project
*.class
*.class
*.prefs
*.prefs
*.prefs
esycation-service/payback-service/.settings/org.eclipse.buildship.core.prefs
*.prefs
esycation-service/inventory-service/.project
esycation-service/inventory-service/.project
esycation-service/notification-service/.project
esycation-service/payback-service/.project
esycation-service/report-service/.project
esycation-service/result-service/.project
esycation-service/result-service/.project
esycation-service/inventory-service/.project
esycation-service/student-service/.project
esycation-service/transport-service/.project
esycation-ui/.classpath
esycation-service/transport-service/.project
esycation-service/student-service/.project
esycation-service/school-service/.project
esycation-service/result-service/.project
esycation-service/report-service/.project
esycation-service/payback-service/.project
esycation-service/inventory-service/.project
esycation-service/notification-service/.project
esycation-common/.classpath


