
<div class="login_page_wrapper">
	<div class="md-card" id="login_card">
		<div class="md-card-content large-padding" id="login_section">
			<div class="login_heading">
				<div class="user_avatar"></div>
			</div>
			<form id="login_form" data-parsley-validate>

				<div class="uk-form-row">
					<div data-uk-button-radio="{target:'.md-btn'}">
						<a class="md-btn md-btn-wave  uk-float-left"
							ng-class="user.type == 'ADMIN' ? 'uk-active md-btn-warning' : ''"
							ng-click="onUserTypeChange('ADMIN')">Admin Login</a> <a
							class="md-btn md-btn-wave  uk-float-right"
							ng-class="user.type == 'USER' ? 'uk-active md-btn-warning' : ''"
							ng-click="onUserTypeChange('USER')">User Login</a>
					</div>
				</div>

				<div class="uk-form-row parsley-row" ng-show="user.type == 'USER'">
					<input class="md-input selectize-custom" type="text"
						ng-model="user.branchId" selectize config="branchSelect.config"
						options="branchSelect.options" position="bottom"
						data-parsley-required="{{user.type == 'USER'}}" />
				</div>

				<div class="uk-form-row parsley-row">
					<label for="login_username">User Name</label> <input
						class="md-input" type="text" id="login_username"
						ng-model="user.userName" md-input data-parsley-required="true" />
				</div>
				<div class="uk-form-row parsley-row uk-form-password">
					<label for="login_password">Password</label> <input
						class="md-input" type="password" id="login_password"
						ng-model="user.password" md-input data-parsley-required="true" />
					<a href="" class="uk-form-password-toggle"
						data-uk-form-password="{lblShow:'Show', lblHide:'Hide'}">Show</a>
				</div>
				<div class="uk-margin-medium-top">
					<button class="md-btn md-btn-primary md-btn-block md-btn-large"
						ng-click="onSubmit($event)" promise-btn="signInPromise">Sign
						In</button>
				</div>
				<div class="uk-margin-top">
					<a href="#" class="uk-float-right" ng-click="passwordReset($event)">Forgot
						Password</a> <span class="icheck-inline"> <input
						type="checkbox" name="login_page_stay_signed"
						id="login_page_stay_signed" icheck ng-model="user.staySigned" />
						<label for="login_page_stay_signed" class="inline-label">Stay
							signed in</label>
					</span>
				</div>
			</form>
		</div>

		<div class="md-card-content large-padding" id="reset_password_section"
			style="display: none">
			<button type="button"
				class="uk-position-top-right uk-close uk-margin-right uk-margin-top back_to_login"
				ng-click="backToLogin($event)"></button>
			<h2 class="heading_a uk-margin-large-bottom">Reset password</h2>
			<form>
				<div class="uk-form-row">
					<div data-uk-button-radio="{target:'.md-btn'}">
						<a class="md-btn md-btn-wave  uk-float-left"
							ng-class="user.type == 'ADMIN' ? 'uk-active md-btn-warning' : ''"
							ng-click="onUserTypeChange('ADMIN')">Admin Login</a> <a
							class="md-btn md-btn-wave  uk-float-right"
							ng-class="user.type == 'USER' ? 'uk-active md-btn-warning' : ''"
							ng-click="onUserTypeChange('USER')">User Login</a>
					</div>
				</div>
				<div class="uk-form-row parsley-row" ng-show="user.type == 'USER'">
					<input class="md-input selectize-custom" type="text"
						ng-model="user.branchId" selectize config="branchSelect.config"
						options="branchSelect.options" position="bottom"
						data-parsley-required="{{user.type == 'USER'}}" />
				</div>
				<div class="uk-form-row">
					<div class="md-input-wrapper">
						<label for="login_email_reset">User Name</label> <input
							class="md-input" type="text" ng-model="user.userName" md-input />
					</div>
				</div>
				<div class="uk-margin-medium-top">
					<a href="#" class="md-btn md-btn-primary md-btn-block md-btn-large"
						ng-click="onResetPassword($event)"> Reset password</a>
				</div>
			</form>
		</div>

	</div>
</div>