<form id="user_form" class="uk-form-stacked">
	<div id="page_content">
		<div id="page_content_inner">
			<div class="md-card uk-margin-large-bottom">
				<div class="md-card-content">
					<h2 class="heading_a">User details</h2>
					<div class="uk-grid" data-uk-grid-margin>
						<div class="uk-width-medium-1-2">
							<div class="parsley-row">
								<label for="fullName">Full Name<span class="req">*</span></label>
								<input type="text" name="fullName" id="fullName"
									class="md-input" md-input ng-model="user.fullName"
									maxlength="100" char-counter data-parsley-required="true"
									ng-disabled="mode == 'view' || mode == 'assign-group' || mode == 'assign-role'" />
							</div>
						</div>
						<div class="uk-width-medium-1-2">
							<div class="parsley-row">
								<label for="fullName">User Name<span class="req">*</span></label>
								<input type="text" name="userName" id="userName"
									class="md-input" md-input ng-model="user.userName"
									data-parsley-is-user-name-unique="userName"
									data-parsley-trigger="focusout" maxlength="100" char-counter
									data-parsley-required="true"
									ng-disabled="mode == 'view' || mode == 'assign-group' || mode == 'assign-role'" />
							</div>
						</div>
					</div>

					<div class="uk-grid" data-uk-grid-margin>
						<div class="uk-width-medium-1-2">
							<div class="parsley-row">
								<label for="wizard_birth_place">Email<span class="req">*</span></label>
								<input type="text" name="email" id="email"
									class="md-input masked_input" md-input ng-model="user.email"
									data-parsley-required="true" data-parsley-type="email"
									maxlength="200" char-counter
									ng-disabled="mode == 'view' || mode == 'assign-group' || mode == 'assign-role'" />
							</div>
						</div>
						<div class="uk-width-medium-1-2 parsley-row">
							<div class="parsley-row">
								<label for="wizard_birth">Mobile<span class="req">*</span></label>
								<input type="text" name="mobile" id="mobile"
									class="md-input masked_input" md-input ng-model="user.mobile"
									data-parsley-required="true" data-parsley-type="number"
									data-parsley-length="[10, 10]" maxlength="10" char-counter
									ng-disabled="mode == 'view' || mode == 'assign-group' || mode == 'assign-role'" />
							</div>
						</div>
					</div>


					<div class="uk-grid" data-uk-grid-margin>
						<div class="uk-width-medium-1-1">
							<div class="parsley-row">
								<input selectize config="roleSelect.config"
									options="roleSelect.options" data-parsley-required="true"
									ng-model="user.tempRoleList"
									ng-disabled="mode == 'view' || mode == 'assign-group'"
									position="bottom" />
							</div>
						</div>
					</div>
					<div class="uk-grid" data-uk-grid-margin>
						<div class="uk-width-medium-1-1">
							<div class="parsley-row">
								<input selectize config="groupSelect.config"
									options="groupSelect.options" ng-model="user.tempGroupList"
									ng-disabled="mode == 'view' || mode == 'assign-role'" position="bottom" />
							</div>
						</div>
					</div>

					<div class="uk-grid uk-grid-width-1-1 uk-margin-large-top">
						<div class="uk-clearfix">
							<div class="uk-float-right">
								<a class="md-btn md-btn-primary md-btn-wave-light"
									href="javascript:void(0)" ng-click="onCancel()">Cancel</a> <a
									class="md-btn md-btn-warning md-btn-wave-light"
									href="javascript:void(0)" ng-click="onReset()"
									promise-btn="resetPromise" ng-show="mode != 'view'">Reset</a> <a
									class="md-btn md-btn-success md-btn-wave-light"
									href="javascript:void(0)" ng-click="onSave()"
									promise-btn="savePromise" ng-show="mode == 'create'">Save</a> <a
									class="md-btn md-btn-success md-btn-wave-light"
									href="javascript:void(0)" ng-click="onAssignGroup()"
									promise-btn="assignGroupPromise"
									ng-show="mode == 'assign-group'">Assign Group</a> <a
									class="md-btn md-btn-success md-btn-wave-light"
									href="javascript:void(0)" ng-click="onAssignRole()"
									promise-btn="assignRolePromise" ng-show="mode == 'assign-role'">Assign
									Role</a> <a class="md-btn md-btn-success md-btn-wave-light"
									href="javascript:void(0)" ng-click="onUpdate()"
									promise-btn="updatePromise" ng-show="mode == 'edit'">Update</a>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</form>
