<!-- SLIDE TOP -->
<div id="slidetop">

    <div class="container">

        <div class="row">

            <div class="col-md-4">
                <h6><i class="icon-attachment"></i> HOT PROJECTS</h6>
                <ul class="list-unstyled">
                    <li><a href="#"><i class="fa fa-angle-right"></i> PROJECTS A | Delhi</a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i> PROJECTS B | Mumbai</a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i> PROJECTS C | Pune</a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i> PROJECTS D | Agra</a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i> View All   | Kolkata</a></li>
                </ul>
            </div>

            <div class="col-md-4">
                <h6><i class="icon-attachment"></i> HOT AREAS</h6>
                <ul class="list-unstyled">
                    <li><a href="#"><i class="fa fa-angle-right"></i> AREA A</a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i> AREA B </a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i> AREA C</a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i> AREA D</a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i> View All</a></li>
                </ul>
            </div>

            <div class="col-md-4">
                <h6><i class="icon-envelope"></i> CONTACT INFO</h6>
                <ul class="list-unstyled">
                    <li><b>Address:</b> PO Box 123, ABC St, <br /> City, Country</li>
                    <li><b>Phone:</b> 1-800-565-2390</li>
                    <li><b>Email:</b> <a href="mailto:support@yourname.com">support@yourname.com</a></li>
                </ul>
            </div>

        </div>

    </div>

    <a class="slidetop-toggle" href="#">
        <!-- toggle button -->
    </a>

</div>
<!-- /SLIDE TOP -->


<!-- wrapper -->
<div id="wrapper">

    <!--
                AVAILABLE HEADER CLASSES

                Default nav height: 96px
                .header-md      = 70px nav height
                .header-sm      = 60px nav height

                .noborder       = remove bottom border (only with transparent use)
                .transparent    = transparent header
                .translucent    = translucent header
                .sticky         = sticky header
                .static         = static header
                .dark           = dark header
                .bottom         = header on bottom

                shadow-before-1 = shadow 1 header top
                shadow-after-1  = shadow 1 header bottom
                shadow-before-2 = shadow 2 header top
                shadow-after-2  = shadow 2 header bottom
                shadow-before-3 = shadow 3 header top
                shadow-after-3  = shadow 3 header bottom

                .clearfix       = required for mobile menu, do not remove!

                Example Usage:  class="clearfix sticky header-sm transparent noborder"
            -->
    <div class="overlay"></div>
    <div id="header" class="sticky transparent gray noborder clearfix">

        <!-- TOP NAV -->
        <header id="topNav">
            <div class="full-container">


                <!-- Mobile Menu Button -->
                <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                            <i class="fa fa-bars"></i>
                        </button>

                <!-- BUTTONS -->
                <ul class="pull-right nav nav-pills nav-second-main">


                    <!-- SEARCH -->
                    <li class="search">
                        <a href="javascript:;">
                                    <i class="fa fa-search"></i>
                                </a>
                        <div class="search-box">
                            <form action="page-search-result-1.html" method="get">
                                <div class="input-group">
                                    <input type="text" name="src" placeholder="Search by Property Code" class="form-control" />
                                    <span class="input-group-btn">
                                                <button class="btn btn-primary" type="submit">Search</button>
                                            </span>
                                </div>
                            </form>
                        </div>
                    </li>
                    <!-- /SEARCH -->
                    <!--SIDE MENU -->
                    <li>
                        <a href="javascript:;">
                                            <i class="fa fa-bars profile-opener" aria-hidden="true"></i>
                                    </a>

                    </li>


                </ul>
                <!-- /BUTTONS -->

                <div class="nav-slide side-profile"><a href="#"><i class="fa fa-bell-o" aria-hidden="true"></i> Set Alerts</a> | <a href="#"><i class="fa fa-star-o" aria-hidden="true"></i>Shortlist</a> <span class="close"><i class="fa fa-times-circle-o" aria-hidden="true"></i></span>
                    <ul class="nav nav-pills nav-stacked">
                        <!-- Button HTML (to Trigger Modal) -->
                        <li class="active"><a href="#myModal" data-toggle="modal">LOGIN / REGISTER</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Advice
                                      <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">News</a></li>
                                <li><a href="#">Ask a Question</a></li>
                                <li><a href="#">Discussion a Topic</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Sell / Rent Property</a></li>
                        <li><a href="#">Buy Our Services</a></li>
                    </ul>
                </div>
                <!--/SIDE MENU -->

                <!--Login and register -->
                <!-- Modal HTML -->
                <div id="myModal" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title">Login & Register</h4>
                            </div>

                            <div class="modal-body">
                                <div class="col-md-6 col-sm-6 no-padng">
                                    <div class="model-l">
                                        <form method="post" id="logFrm" class="log-frm" name="logFrm">
                                            <ul>
                                                <li>Email</li>
                                                <li> <input type="text" placeholder="User ID" id="userName" name="userName" class="form-control" onfocus="checkNullProf();"></li>
                                                <li>Password</li>
                                                <li><input type="password" placeholder="Password" id="password" name="password" class="form-control" onfocus="checkNullProf();"></li>
                                                <li><br/><button type="button" onclick="userLogin();" id="logBtn" class="btn btn-default">Submit</button></li>
                                                <div style="display:none;" id="loginFail" class="sign">
                                                    <li>
                                                        <font color="red"> Username or password is incorrect.</font>
                                                    </li>
                                                </div>
                                            </ul>
                                        </form>
                                        <div class="clearfix"></div>
                                        <form method="post" id="logFrm1" class="log-frm" name="logFrm1">
                                            <ul>
                                                <li>
                                                    <a class="for-got" onclick="Ftoggle();" href="javascript:;">Forgot your password?</a>
                                                    <div class="forgot">
                                                        <ul>
                                                            <li>
                                                                <p>Enter your Email Address here to receive a link to change password.</p>
                                                            </li>
                                                            <li>Email Id</li>
                                                            <li><input type="text" placeholder="Your email id" id="forgetemailId" class="form-control" name="forgetemailId"></li>
                                                            <li><button type="button" class="btn btn-default" onclick="forgot();">Send Mail</button></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 no-padng">
                                    <div class="model-r">
                                        <div class="o-r">
                                            <span>OR</span>
                                        </div>
                                        <form method="post" id="userRegisterFrm" class="log-frm" name="userRegisterFrm">
                                            <ul>
                                                <li>First Name</li>
                                                <li><input type="text" placeholder="First Name" name="fName" class="form-control"></li>
                                                <li>Last Name</li>
                                                <li><input type="text" placeholder="Last Name" name="lName" class="form-control"></li>
                                                <li>Email</li>
                                                <li><input type="text" placeholder="Email Id" name="emailId" class="form-control"></li>
                                                <li>Password</li>
                                                <li><input type="password" placeholder="Password" name="password" class="form-control"></li>
                                                <li>Confirm Password</li>
                                                <li><input type="password" placeholder="Confirm Password" name="repassword" class="form-control"></li>
                                                <br>
                                                <li><button type="button" name="userRegBtn" class="btn btn-default">Signup Now</button></li>
                                                <div style="display:none;" class="sign greenglow">
                                                    <li> <i class="icon-check"></i><br>
                                                        <font color="red">
                                                            User registration successful.<br> Your login Url already send to your email.

                                                        </font>
                                                    </li>
                                                </div>
                                                <div style="display:none;" id="regnSuc11" class="sign redglow">
                                                    <li> <i class="icon-mail"></i><br>
                                                        <font color="red"> Email Exist.</font>
                                                    </li>
                                                </div>
                                            </ul>
                                        </form>
                                    </div>
                                </div>

                                <div class="clearfix"></div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/Login and register -->
                <!-- Logo -->
                <a class="logo pull-left" href="index.html">
                            <img src="assets/images/logo-white.png" alt="" /> <!-- light logo -->
                            <img src="assets/images/logo.png" alt="" /> <!-- dark logo -->
                        </a>

                <!--
                            Top Nav

                            AVAILABLE CLASSES:
                            submenu-dark = dark sub menu
                        -->
                <div class="navbar-collapse pull-right nav-main-collapse collapse submenu-dark">
                    <nav class="nav-main">

                        <!--
                                    NOTE

                                    For a regular link, remove "dropdown" class from LI tag and "dropdown-toggle" class from the href.
                                    Direct Link Example:

                                    <li>
                                        <a href="#">HOME</a>
                                    </li>
                                -->
                        <ul id="topMain" class="nav nav-pills nav-main">


                            <li class="dropdown">
                                <!-- Quick Links -->
                                <a class="dropdown-toggle" href="#">
                                            QUICK LINKS
                                        </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="#">CUSTOMER SERVICE</a></li>
                                    <li><a href="#">SELL / RENT PROPERTY</a></li>
                                    <li><a href="#">HOME LOANS</a></li>
                                    <li><a href="#">POST YOUR ADS</a></li>
                                </ul>
                            </li>
                        </ul>

                    </nav>
                </div>

            </div>
        </header>
        <!-- /Top Nav -->

        <app-search></app-search>
    </div>


    <!-- Listing -->
    <section class="top-header">
        <div class="container">
            <div class="btn-group btn-group-justified">
</div>
        </div>

        <div class="container">
            <div class="row">
                <!-- Filters -->
                <div class="col-sm-3"><br/>
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Sort by <span class="pull-right"><small>Relevance</small></span></a>

                                </h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse ">
                                <div class="panel-body">
                                    Relevance
                                    <div class="list-group">

                                        <a href="#" class="list-group-item">Date: Newest</a>
                                        <a href="#" class="list-group-item">Price: Low-High</a>
                                        <a href="#" class="list-group-item">Price: High-Low</a>
                                        <a href="#" class="list-group-item">Rate/Unit: Low</a>
                                        <a href="#" class="list-group-item">Rate/Unit: High</a>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                  

                </div>
                <!-- /Filters -->
                <!-- Properties -->
                <div class="col-sm-9"><br/>
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Dealer</a></li>
                        <li><a href="#">Dealer</a></li>
                    </ul>
                    <h4>Dealer Development Manager will support development of dealer business activities.</h4>
                    <div class="panel panel-warning">
                        <div class="panel-heading"><a href="">₹ 1.37 Crore , 3 BHK, Independent/Builder Floor in Sector-23 Gurgaon</a></div>
                        <div class="panel-body">
                            <div class="media">
                                <div class="media-left">
                                    <img src="assets/images/room.jpeg" class="media-object">
                                   
                                </div>
                                <div class="media-body">
                                    <p>Super built-up Area : 650 Sq.Ft. @ ₹8769/Sq.Ft.</p>
                                    <hr/>
                                    <p><b>Highlights:</b> New Booking / Ready to move / 0 to 1 years old / Freehold / 1st Floor (out of 4) / Reserved Parking </p>
                                    <hr/>
                                    <p><b>Description :</b> Find your living in this independent/builder floor which is available for sale in the city delhi. The property is ... <a href="#"></a>read more</p>
                                    <hr/>
                                    <p><b>Post by:</b>YDR Buildcon <b>Post Date:</b>12/01/2018</p>
                                </div>
                                <!-- Trigger the modal with a button for contact owner-->
                                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#contact">Contact Owner</button>

                                <!-- Modal -->
                                <div id="contact" class="modal fade" role="dialog">
                                    <div class="modal-dialog">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Modal Header</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>contact text in the modal.</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!-- Trigger the modal with a button for phone no.-->
                                <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#phoneno">View Phone Number</button>

                                <!-- Modal -->
                                <div id="phoneno" class="modal fade" role="dialog">
                                    <div class="modal-dialog">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Modal Header</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>Some text in the modal.</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="pagination">
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                    </ul>

                </div>
                <!-- /Properties -->

            </div>
        </div>
        <!-- New Projects -->
        <div class="container">
            <div class="heading-title heading-dotted">
                <h2 class="size-20">New Projects</h2>

            </div>
            <div class="col-sm-4">
                <div class="list-group">
                    <a href="#" class="list-group-item">First item</a>
                    <a href="#" class="list-group-item">Second item</a>
                    <a href="#" class="list-group-item">Third item</a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="list-group">
                    <a href="#" class="list-group-item">First item</a>
                    <a href="#" class="list-group-item">Second item</a>
                    <a href="#" class="list-group-item">Third item</a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="list-group">
                    <a href="#" class="list-group-item">First item</a>
                    <a href="#" class="list-group-item">Second item</a>
                    <a href="#" class="list-group-item">Third item</a>
                </div>
            </div>
        </div>
        <!-- /New Projects -->
        <!-- Hot Properties in Delhi / NCR -->

        <div class="container">
            <div class="heading-title heading-dotted">
                <h2 class="size-20">Hot Properties in Delhi / NCR</h2>
            </div>
            <div class="col-sm-4">
                <div class="list-group">
                    <a href="#" class="list-group-item">First item</a>
                    <a href="#" class="list-group-item">Second item</a>
                    <a href="#" class="list-group-item">Third item</a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="list-group">
                    <a href="#" class="list-group-item">First item</a>
                    <a href="#" class="list-group-item">Second item</a>
                    <a href="#" class="list-group-item">Third item</a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="list-group">
                    <a href="#" class="list-group-item">First item</a>
                    <a href="#" class="list-group-item">Second item</a>
                    <a href="#" class="list-group-item">Third item</a>
                </div>
            </div>
        </div>
        <!-- /Hot Properties in Delhi / NCR -->
        <!-- Best residential and upcoming areas in Delhi / NCR -->

        <div class="container">
            <div class="heading-title heading-dotted">
                <h2 class="size-20">Best residential and upcoming areas in Delhi / NCR</h2>
            </div>
            <div class="col-sm-4">
                <div class="list-group">
                    <a href="#" class="list-group-item">First item</a>
                    <a href="#" class="list-group-item">Second item</a>
                    <a href="#" class="list-group-item">Third item</a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="list-group">
                    <a href="#" class="list-group-item">First item</a>
                    <a href="#" class="list-group-item">Second item</a>
                    <a href="#" class="list-group-item">Third item</a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="list-group">
                    <a href="#" class="list-group-item">First item</a>
                    <a href="#" class="list-group-item">Second item</a>
                    <a href="#" class="list-group-item">Third item</a>
                </div>
            </div>
        </div>
        <!-- /Best residential and upcoming areas in Delhi / NCR -->
    </section>
    <!-- /Listing -->





    <!-- FOOTER -->
    <footer id="footer">
        <div class="container">

            <div class="row">

                <div class="col-md-3">
                    <h4 class="letter-spacing-1">REAL ESTATE IN INDIA</h4>
                    <ul class="footer-links list-unstyled">

                        <li>
                            <a title="Delhi / NCR Real Estate" href="#">Delhi / NCR</a></li>
                        <li>
                            <a title="Mumbai Real Estate" href="#">Mumbai</a></li>
                        <li>
                            <a title="Bangalore Real Estate" href="#">Bangalore</a></li>
                        <li>
                            <a title="Chennai Real Estate" href="#">Chennai</a></li>
                        <li>
                            <a title="Hyderabad Real Estate" href="#">Hyderabad</a></li>
                        <li>
                            <a title="Pune Real Estate" href="#">Pune</a></li>
                        <li>
                            <a title="Kolkata Real Estate" href="#">Kolkata</a></li>
                        <li>
                            <a title="Ahmedabad Real Estate" href="#">Ahmedabad</a></li>
                        <li>
                            <a title="Chandigarh Real Estate" href="#">Chandigarh</a></li>
                        <li>
                            <a title="Jaipur Real Estate" href="#">Jaipur</a></li>
                        <li>
                            <a title="Nagpur Real Estate" href="#">Nagpur</a></li>
                        <li>
                            <a title="Bhubaneswar Real Estate" href="#">Bhubaneswar</a></li>
                        <li>
                            <a title="Coimbatore Real Estate" href="#">Coimbatore</a></li>
                        <li>
                            <a title="Goa Real Estate" href="#">Goa</a></li>
                        <li>
                            <a title="Indore Real Estate" href="#">Indore</a></li>
                        <li>
                            <a title="Kerala Real Estate" href="#">Kerala</a></li>
                        <li>
                            <a title="Lucknow Real Estate" href="#">Lucknow</a></li>
                        <li>
                            <a title="Surat Real Estate" href="#">Surat</a></li>
                        <li>
                            <a title="Vadodara Real Estate" href="#">Vadodara</a></li>
                        <li>
                            <a title="Dehradun Real Estate" href="#">Dehradun</a></li>
                        <li>
                            <a title="Patna Real Estate" href="#">Patna</a></li>
                        <li>
                            <a title="Nasik Real Estate" href="#">Nasik</a></li>
                        <li>
                            <a title="Bhopal Real Estate" href="#">Bhopal</a></li>

                    </ul>


                </div>

                <div class="col-md-3">

                    <ul class="footer-links list-unstyled">



                        <li>
                            <a title="Visakhapatnam Real Estate" href="#">Visakhapatnam</a></li>
                        <li>
                            <a title="Kanpur Real Estate" href="#">Kanpur</a></li>
                        <li>
                            <a title="Varanasi Real Estate" href="#">Varanasi</a></li>
                        <li>
                            <a title="Vijayawada Real Estate" href="#">Vijayawada</a></li>
                        <li>
                            <a title="Mysore Real Estate" href="#">Mysore</a></li>
                        <li>
                            <a title="Ranchi Real Estate" href="#">Ranchi</a></li>
                        <li>
                            <a title="Raipur Real Estate" href="#">Raipur</a></li>
                        <li>
                            <a title="Mangalore Real Estate" href="#">Mangalore</a></li>
                        <li>
                            <a title="Vapi Real Estate" href="#">Vapi</a></li>
                        <li>
                            <a title="Rajkot Real Estate" href="#">Rajkot</a></li>
                        <li>
                            <a title="Trichy Real Estate" href="#">Trichy</a></li>
                        <li>
                            <a title="Madurai Real Estate" href="#">Madurai</a></li>
                        <li>
                            <a title="Hubli Real Estate" href="#">Hubli</a></li>
                        <li>
                            <a title="Allahabad Real Estate" href="#">Allahabad</a></li>
                        <li>
                            <a title="Pondicherry Real Estate" href="#">Pondicherry</a></li>
                        <li>
                            <a title="Agra Real Estate" href="#">Agra</a></li>
                        <li>
                            <a title="Ludhiana Real Estate" href="#">Ludhiana</a></li>
                        <li>
                            <a title="Amritsar Real Estate" href="#">Amritsar</a></li>
                        <li>
                            <a title="Jalandhar Real Estate" href="#">Jalandhar</a></li>
                        <li>
                            <a title="Udaipur Real Estate" href="#">Udaipur</a></li>
                        <li>
                            <a title="Jodhpur Real Estate" href="#">Jodhpur</a></li>
                        <li>
                            <a title="Gwalior Real Estate" href="#">Gwalior</a></li>
                        <li>
                            <a title="Jabalpur Real Estate" href="#">Jabalpur</a></li>
                        <li>
                            <a title="Aurangabad Real Estate" href="#">Aurangabad</a></li>
                    </ul>

                </div>

                <div class="col-md-2">

                    <!-- COMPANY -->
                    <h4 class="letter-spacing-1">COMPANY</h4>
                    <ul class="footer-links list-unstyled">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Our Services</a></li>
                        <li><a href="#">Our Clients</a></li>
                        <li><a href="#">Our Pricing</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                    <!-- /COMPANY -->
                    <!-- OTHER LINKS -->
                    <h4 class="letter-spacing-1">OTHER LINKS</h4>
                    <ul class="footer-links list-unstyled">
                        <li><a href="#">LINK</a></li>
                        <li><a href="#">LINK 2</a></li>
                        <li><a href="#">LINK 3</a></li>
                        <li><a href="#">LINK 4</a></li>
                        <li><a href="#">LINK 5</a></li>
                        <li><a href="#"> LINK 6</a></li>
                    </ul>
                    <!-- /OTHER LINKS -->

                </div>

                <div class="col-md-4">
                    <h4 class="letter-spacing-1">CONTACT US</h4>
                    <!-- Footer Logo -->
                    <img class="footer-logo" src="assets/images/logo.png" alt="" />

                    <!-- Small Description -->
                    <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>

                    <!-- Contact Address -->
                    <address>
                                <ul class="list-unstyled">
                                    <li class="footer-sprite address">
                                        PO Box 21132<br>
                                        Here Weare St, Melbourne<br>
                                        Vivas 2355 Australia<br>
                                    </li>
                                    <li class="footer-sprite phone">
                                        Phone: 1-800-565-2390
                                    </li>
                                    <li class="footer-sprite email">
                                        <a href="mailto:support@yourname.com">support@yourname.com</a>
                                    </li>
                                </ul>
                            </address>
                    <!-- /Contact Address -->

                    <!-- Newsletter Form -->
                    <BR/>
                    <h4 class="letter-spacing-1">KEEP IN TOUCH</h4>
                    <p>Subscribe to Our Newsletter to get Important News &amp; Offers</p>

                    <form class="validate" action="php/newsletter.php" method="post" data-success="Subscribed! Thank you!" data-toastr-position="bottom-right">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            <input type="email" id="email" name="email" class="form-control required" placeholder="Enter your Email">
                            <span class="input-group-btn">
                                        <button class="btn btn-success" type="submit">Subscribe</button>
                                    </span>
                        </div>
                    </form>
                    <!-- /Newsletter Form -->

                    <!-- Social Icons -->
                    <div class="margin-top-20">
                        <a href="#" class="social-icon social-icon-border social-facebook pull-left" data-toggle="tooltip" data-placement="top" title="Facebook">

                                    <i class="icon-facebook"></i>
                                    <i class="icon-facebook"></i>
                                </a>

                        <a href="#" class="social-icon social-icon-border social-twitter pull-left" data-toggle="tooltip" data-placement="top" title="Twitter">
                                    <i class="icon-twitter"></i>
                                    <i class="icon-twitter"></i>
                                </a>

                        <a href="#" class="social-icon social-icon-border social-gplus pull-left" data-toggle="tooltip" data-placement="top" title="Google plus">
                                    <i class="icon-gplus"></i>
                                    <i class="icon-gplus"></i>
                                </a>

                        <a href="#" class="social-icon social-icon-border social-linkedin pull-left" data-toggle="tooltip" data-placement="top" title="Linkedin">
                                    <i class="icon-linkedin"></i>
                                    <i class="icon-linkedin"></i>
                                </a>

                        <a href="#" class="social-icon social-icon-border social-rss pull-left" data-toggle="tooltip" data-placement="top" title="Rss">
                                    <i class="icon-rss"></i>
                                    <i class="icon-rss"></i>
                                </a>

                    </div>
                    <!-- /Social Icons -->

                </div>

            </div>

        </div>

        <div class="copyright">
            <div class="container">
                <ul class="pull-right nomargin list-inline mobile-block">
                    <li><a href="#">Terms &amp; Conditions</a></li>
                    <li>&bull;</li>
                    <li><a href="#">Privacy</a></li>
                </ul>
                &copy; All Rights Reserved, Propertytrees.com
            </div>
        </div>
    </footer>
    <!-- /FOOTER -->

</div>
<!-- /wrapper -->


<!-- SCROLL TO TOP -->
<a href="#" id="toTop"></a> \
<!--filter expanding -->
