<app-header></app-header>

<section>
					<div class="col-sm-9"><br/>
										<!-- <ul class="breadcrumb">
												<li><a href="#">Home</a></li>
												<li><a href="#">All About Legal Consultant</a></li>
												<li><a href="#">Legal Consultant</a></li>
											  </ul> -->
										<!-- <h4>Legal Consultant  </h4> -->
										<div class="panel panel-warning">
												<div class="panel-heading"><!-- <a href="">Claims Processing Solutions , Financial Documentation Services, Legal Consultancy Services</a> --></div>
												<div class="panel-body">
														<div class="media">
																<div class="media-left">
																  <img src="assets/images/custmr_spt.jpg" class="media-object">
																  <!--<p><a href="#">5  Property Photos</a></p>
																<p><a href="#">1 Locality Video</a></p>-->
																</div> 																<div class="media-body">
																		<<!-- p>Financial Documentation Services.</p><hr/>
																		<p><b>Highlights:</b> Corporate Solutions/  Taxation Services / Taxation Cases/  Freehold /  Claims Processing Solutions /Recovery Solutions</p><hr/>-->
																		<p><b> How May I HELP You :</b> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.. <a href="#"></a>read more</p><hr/>
																        <!-- <p><b>Post by:</b>YDR Buildcon <b>Post Date:</b>12/01/2018</p> -->
																	</div>
																<!-- Trigger the modal with a button for contact owner-->
																<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#contact">How can I help you :-)</button>

																<!-- Modal -->
																<div id="contact" class="modal fade" role="dialog">
																<div class="modal-dialog">

																	<!-- Modal content-->
																	<div class="modal-content">
																	<div class="modal-header">
																		<button type="button" class="close" data-dismiss="modal">&times;</button>
																		<h4 class="modal-title">Modal Header</h4>
																	</div>
																	<div class="modal-body">
																		<p>contact text in the modal.</p>
																	</div>
																	<div class="modal-footer">
																		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
																	</div>
																	</div>

																</div>
																</div>
																<!-- Trigger the modal with a button for phone no.-->
																	<button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#phoneno">Contact Us</button>

																	<!-- Modal -->
																	<div id="phoneno" class="modal fade" role="dialog">
																	<div class="modal-dialog">

																		<!-- Modal content-->
																		<div class="modal-content">
																		<div class="modal-header">
																			<button type="button" class="close" data-dismiss="modal">&times;</button>
																			<h4 class="modal-title">Modal Header</h4>
																		</div>
																		<div class="modal-body">
																			<p>Some text in the modal.</p>
																		</div>
																		<div class="modal-footer">
																			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
																		</div>
																		</div>

																	</div>
																	</div>
															  </div>
												</div>
										</div>
										<!-- <ul class="pagination">
												<li class="active"><a href="#">1</a></li>
												<li ><a href="#">2</a></li>
												<li><a href="#">3</a></li>
												<li><a href="#">4</a></li>
												<li><a href="#">5</a></li>
											  </ul> -->
									
								</div>
						
			</section> 






<app-footer></app-footer>