<div id="page_content">
	<div id="page_content_inner">
		<div class="md-card">
			<div class="md-card-content">
				<h3 class="heading_a">
					Manage Group
					<div class="uk-float-right">
						<user-permission
							data-permission-for="restricted.admin.manageGroup"
							data-permission-type="ADD" />
					</div>
				</h3>
				<div class="uk-margin-top"
					ng-controller="ManageGroupTableController as TableController">
					<table datatable id="ManageGroupTable"
						dt-options="TableController.dtOptions"
						dt-columns="TableController.dtColumns"
						dt-instance="TableController.dtInstance" class="uk-table"
						cellspacing="0" width="100%">

					</table>
				</div>
			</div>
		</div>

	</div>
</div>
