<div id="page_content">
	<div id="page_content_inner">
		<form id="group_form">
			<div class="md-card uk-margin-large-bottom">
				<div class="md-card-toolbar">
					<h2 class="md-card-toolbar-heading-text large">Group Details</h2>
				</div>
				<div class="md-card-content">
					<div class="uk-grid">
						<div class="uk-width-medium-1-2">
							<div class="parsley-row">
								<label>Name *</label> <input type="text" class="md-input"
									md-input ng-model="group.name" data-parsley-required="true"
									data-parsley-group="group" ng-disabled="mode == 'view'"
									maxlength="100" char-counter />
							</div>
						</div>

						<div class="uk-width-medium-1-2">
							<div class="parsley-row">
								<label>Description</label> <input type="text" class="md-input"
									md-input ng-model="group.description"
									data-parsley-group="group" ng-disabled="mode == 'view'"
									maxlength="1024" char-counter />
							</div>
						</div>
					</div>
					<div class="uk-grid">
						<div class="uk-width-1-1">
							<h3 class="heading_a">Members</h3>
							<table class="uk-table" cellspacing="0" width="100%">
								<thead>
									<tr>
										<th class="uk-width-3-10">Group Type</th>
										<th class="uk-width-3-10">Member Type</th>
										<th class="uk-width-3-10">Member Name</th>
										<th class="uk-width-1-10 small_col">Action</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="member in group.groupMembers">
										<td>{{member.groupType}}</td>
										<td>{{member.memberType}}</td>
										<td>{{member.memberName}}</td>
										<td><button ng-click="onDeleteMember($index)"
												class="md-btn md-btn-danger md-btn-wave-light waves-effect waves-button waves-light md-btn-icon"
												ng-class="(mode == 'view'  ? 'disabled' : '')"
												ng-disabled="mode == 'view'">
												<i class="uk-icon-minus no_margin"></i>
											</button></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>


					<div class="md-card uk-margin-large-bottom"
						ng-show="mode != 'view'">
						<div class="md-card-toolbar">
							<h2 class="md-card-toolbar-heading-text">Add Group Member</h2>
						</div>
						<div class="md-card-content">
							<div class="uk-grid" data-uk-grid-margin>
								<div class="uk-width-medium-1-1">
									<div class="parsley-row">
										<input type="text" class="md-input"
											ng-model="groupMember.groupType" selectize
											config="groupMemberSelect.config" position="bottom"
											options="groupMemberSelect.options"
											data-parsley-required="true" data-parsley-group="group-type" />
									</div>
								</div>
							</div>

							<div class="uk-grid" data-uk-grid-margin
								ng-show="(groupMember.groupType =='STAFF' || groupMember.groupType =='GUARDIAN' || groupMember.groupType =='STUDENT') 
								&& (userType == 'ADMIN' || userType == 'SUPER_ADMIN' || userType == 'SCHOOL_ADMIN')">
								<div class="uk-width-medium-1-1">
									<div class="parsley-row">
										<input type="text" class="md-input" ng-model="schools"
											selectize position="bottom" config="schoolSelect.config"
											options="schoolSelect.options"
											data-parsley-group="group-type"
											data-parsley-required="{{userType == 'ADMIN' || userType == 'SUPER_ADMIN'}}"
											ng-disabled="userType == 'SCHOOL_ADMIN'" />
									</div>
								</div>
							</div>

							<div class="uk-grid" data-uk-grid-margin
								ng-show="(groupMember.groupType =='STAFF' || groupMember.groupType =='GUARDIAN' || groupMember.groupType =='STUDENT') 
								&& (userType == 'ADMIN' || userType == 'SUPER_ADMIN' || userType == 'SCHOOL_ADMIN' || userType == 'BRANCH_ADMIN')">
								<div class="uk-width-medium-1-1">
									<div class="parsley-row">
										<input type="text" class="md-input" ng-model="branches"
											selectize position="bottom" config="branchSelect.config"
											options="branchSelect.options"
											data-parsley-group="group-type"
											data-parsley-required="{{userType == 'ADMIN' || userType == 'SUPER_ADMIN'}}"
											ng-disabled="userType == 'BRANCH_ADMIN'" />
									</div>
								</div>
							</div>

							<div class="uk-grid" data-uk-grid-margin
								ng-show="groupMember.groupType =='STUDENT' || groupMember.groupType =='GUARDIAN'">
								<div class="uk-width-medium-1-1">
									<div class="parsley-row">
										<input type="text" class="md-input" ng-model="courses"
											selectize position="bottom" config="courseSelect.config"
											options="courseSelect.options" />
									</div>
								</div>
							</div>

							<div class="uk-grid" data-uk-grid-margin
								ng-show="groupMember.groupType =='STUDENT' || groupMember.groupType =='GUARDIAN'">
								<div class="uk-width-medium-1-1">
									<div class="parsley-row">
										<input type="text" class="md-input" ng-model="batches"
											selectize position="bottom" config="batchSelect.config"
											options="batchSelect.options" />
									</div>
								</div>
							</div>

							<div class="uk-grid" data-uk-grid-margin
								ng-show="groupMember.groupType =='GUARDIAN'">
								<div class="uk-width-medium-1-1">
									<div class="parsley-row">
										<input type="text" class="md-input" ng-model="guardians"
											selectize position="bottom" config="guardianSelect.config"
											options="guardianSelect.options" />
									</div>
								</div>
							</div>

							<div class="uk-grid" data-uk-grid-margin
								ng-show="groupMember.groupType =='STUDENT'">
								<div class="uk-width-medium-1-1">
									<div class="parsley-row">
										<input type="text" class="md-input" ng-model="students"
											selectize position="bottom" config="studentSelect.config"
											options="studentSelect.options" />
									</div>
								</div>
							</div>



							<div class="uk-grid" data-uk-grid-margin
								ng-show="groupMember.groupType =='DEPARTMENT' || groupMember.groupType =='STAFF'">
								<div class="uk-width-medium-1-1">
									<div class="parsley-row">
										<input type="text" class="md-input" ng-model="departments"
											selectize position="bottom" config="departmentSelect.config"
											options="departmentSelect.options" />
									</div>
								</div>
							</div>

							<div class="uk-grid" data-uk-grid-margin
								ng-show="groupMember.groupType =='STAFF'">
								<div class="uk-width-medium-1-1">
									<div class="parsley-row">
										<input type="text" class="md-input" ng-model="staffs"
											selectize position="bottom" config="staffSelect.config"
											options="staffSelect.options" />
									</div>
								</div>
							</div>
							<div class="uk-grid uk-grid-width-1-1">
								<div class="uk-clearfix">
									<div class="uk-float-right">
										<a class="md-btn md-btn-primary md-btn-wave-light"
											href="javascript:void(0)" ng-click="onAddMember()">Add
											Member</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="uk-grid uk-grid-width-1-1">
						<div class="uk-clearfix">
							<div class="uk-float-right">
								<a class="md-btn md-btn-primary md-btn-wave-light"
									href="javascript:void(0)" ng-click="onCancel()">Cancel</a> <a
									class="md-btn md-btn-warning md-btn-wave-light"
									href="javascript:void(0)" ng-click="onReset()"
									promise-btn="resetPromise" ng-show="mode != 'view'">Reset</a> <a
									class="md-btn md-btn-success md-btn-wave-light"
									href="javascript:void(0)" ng-click="onSave()"
									promise-btn="savePromise" ng-show="mode == 'create'">Save</a> <a
									class="md-btn md-btn-success md-btn-wave-light"
									href="javascript:void(0)" ng-click="onUpdate()"
									promise-btn="updatePromise" ng-show="mode == 'edit'">Update</a>
							</div>
						</div>
					</div>

				</div>
			</div>
		</form>
	</div>
</div>
