

		<!-- CORE CSS -->
		
	<!--
		AVAILABLE BODY CLASSES:
		
		smoothscroll 			= create a browser smooth scroll
		enable-animation		= enable WOW animations

		bg-grey					= grey background
		grain-grey				= grey grain background
		grain-blue				= blue grain background
		grain-green				= green grain background
		grain-blue				= blue grain background
		grain-orange			= orange grain background
		grain-yellow			= yellow grain background
		
		boxed 					= boxed layout
		pattern1 ... patern11	= pattern background
		menu-vertical-hide		= hidden, open on click
		
		BACKGROUND IMAGE [together with .boxed class]
		data-background="assets/images/boxed_background/1.jpg"
	-->
		<!-- wrapper -->
		<div id="wrapper">

			<!-- 
				AVAILABLE HEADER CLASSES

				Default nav height: 96px
				.header-md 		= 70px nav height
				.header-sm 		= 60px nav height

				.noborder 		= remove bottom border (only with transparent use)
				.transparent	= transparent header
				.translucent	= translucent header
				.sticky			= sticky header
				.static			= static header
				.dark			= dark header
				.bottom			= header on bottom
				
				shadow-before-1 = shadow 1 header top
				shadow-after-1 	= shadow 1 header bottom
				shadow-before-2 = shadow 2 header top
				shadow-after-2 	= shadow 2 header bottom
				shadow-before-3 = shadow 3 header top
				shadow-after-3 	= shadow 3 header bottom

				.clearfix		= required for mobile menu, do not remove!

				Example Usage:  class="clearfix sticky header-sm transparent noborder"
			-->
			<div class="overlay"></div>
			<div id="header" class="sticky transparent noborder clearfix">

				<!-- TOP NAV -->
				
				<!-- /Top Nav -->

			<header id="topNav">
					<div class="full-container">

						<!-- Mobile Menu Button -->
						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>

						<!-- BUTTONS -->
						<ul class="pull-right nav nav-pills nav-second-main">

							<!--SIDE MENU -->
							<li >
									<a href="javascript:;">
											<i class="fa fa-bars profile-opener" aria-hidden="true"></i>
									</a>
									
								</li>
							

						</ul>
						<!-- /BUTTONS -->
						
						<div class="nav-slide side-profile"><a href="#"><i class="" aria-hidden="true"></i></a>  <a href="#"><i class="" aria-hidden="true"></i></a>  <span class="close"><i class="fa fa-times-circle-o" aria-hidden="true"></i></span>
							<!--<div class="nav-slide side-profile"><a href="#"><i class="fa fa-bell-o" aria-hidden="true"></i> Set Alerts</a> | <a href="#"><i class="fa fa-star-o" aria-hidden="true"></i>Shortlist</a>  <span class="close"><i class="fa fa-times-circle-o" aria-hidden="true"></i></span>-->
							<ul class="nav nav-pills nav-stacked">
								 <!-- Button HTML (to Trigger Modal) -->
									<li class="active"><a (click)="openModal()" data-toggle="modal">LOGIN / REGISTER</a></li>
									<li class="dropdown">
									  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Advice
									  <span class="caret"></span></a>
									  <ul class="dropdown-menu">
										<li><a href="#">News</a></li>
										<li><a href="#">Ask a Question</a></li>
										<li><a href="#">Discussion a Topic</a></li> 
									  </ul>
									</li>
									<li><a href="#">Sell / Rent Property</a></li>
									<li><a href="#">Buy Our Services</a></li>
								  </ul>
						</div>
						<!--/SIDE MENU -->

						<!--Login and register -->
						 <!-- Modal HTML -->
    <div id="myModal" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h4 class="modal-title">Login & Register</h4>
					</div>               
					
					<div class="modal-body">                                       
					<div class="col-md-6 col-sm-6 no-padng">
						<div class="model-l">                    
						<form method="post" id="logFrm" class="log-frm" name="logFrm"> 
						<ul>                                                     
							<li>Email</li>
							<li> <input type="text" required  placeholder="User ID" id="userName" name="userName" class="form-control" (focus)="checkNullProf();"></li>
							<li>Password</li>
							<li><input type="password" required placeholder="Password" id="password" name="password" class="form-control" (focus)="checkNullProf();"></li>                                                
							<li><br/><button type="button" (click)="userLogin();" id="logBtn" class="btn btn-default">Submit</button></li>
							<div style="display:none;" id="loginFail" class="sign">
							<li> <font color="red">  Username or password is incorrect.</font></li>
							</div>
							   </ul>
								</form>                      
									<div class="clearfix"></div>
									 <form method="post" id="logFrm1" class="log-frm" name="logFrm1"> 
									<ul>                                    
										<li>
											<a class="for-got" (click)="Ftoggle()" href="javascript:;">Forgot your password?</a>
											<div class="forgot" id="forget"><button type="button" class="close" (click)="Ftogglehide()" aria-hidden="true">×</button>
											<ul>                                          
											<li><p>Enter your Email Address here to receive a link to change password.</p></li>
											<li>Email Id</li>
											<li><input type="text" placeholder="Your email id" id="forgetemailId" class="form-control" name="forgetemailId"></li>
											<li><button type="button" class="btn btn-default" (click)="forgot();">Send Mail</button></li>
										</ul> 
									</div>
								</li>
							</ul>
					 </form>
						</div>
						</div>    	
						<div class="col-md-6 col-sm-6 no-padng">
							<div class="model-r">
							<div class="o-r">
							<span>OR</span>
							</div>
						 <form method="post" id="userRegisterFrm" class="log-frm" (ngSubmit])="SaveRecord(data)"  name="userRegisterFrm"> 
								 	<!--<form (ngSubmit)="onSubmit()" #loginForm="ngForm">-->
								<ul>
								 <li>First Name</li>
								<li><input type="text" required name="firstName" placeholder="First Name" [(ngModel)]="data.firstName" class="form-control"></li>
								 <li>Last Name</li>
								<li><input type="text" required name="lastName" placeholder="Last Name" [(ngModel)]="data.lastName" class="form-control"></li>
								<li>Email</li>
								<li><input type="email" required name="email" placeholder="Email Id" [(ngModel)]="data.email" class="form-control"></li>
								<li>Password</li>
								<li><input type="password" required name="password" placeholder="Password" [(ngModel)]="data.password" class="form-control"></li>
								<li>Confirm Password</li>
								<li><input type="password" required name="repassword"  placeholder="Confirm Password" [(ngModel)]="data.repassword" class="form-control"></li>
							   <br> <li><button type="submit" name="userRegBtn" class="btn btn-default"  >Signup Now</button></li>
								 <div style="display:none;" class="sign greenglow">
									 <li>   <i class="icon-check"></i><br>
										 <font color="red"> 
										 User registration successful.<br>
										  Your login Url already send to your email.
										 
										 </font></li>
							  </div>
							   <div style="display:none;" id="regnSuc11" class="sign redglow">
								   <li>   <i class="icon-mail"></i><br>
									   <font color="red">    Email Exist.</font></li>
							  </div> 
							</ul>
						</form>
							</div>
							</div>
							
							<div class="clearfix"></div>
						</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Save changes</button>
					</div>
				</div>
			</div>
		</div>
<!--/Login and register -->
						<!-- Logo -->
						<a class="logo pull-left" href="index.html">
							<img src="assets/images/logo-white.png" alt="" /> <!-- light logo -->
							<img src="assets/images/logo.png" alt="" /> <!-- dark logo -->
						</a>

						<!-- 
							Top Nav 
							
							AVAILABLE CLASSES:
							submenu-dark = dark sub menu
						-->
						<div class="navbar-collapse pull-right nav-main-collapse collapse submenu-dark">
							<nav class="nav-main">

								<!--
									NOTE
									
									For a regular link, remove "dropdown" class from LI tag and "dropdown-toggle" class from the href.
									Direct Link Example: 

									<li>
										<a href="#">HOME</a>
									</li>
								-->
								<ul id="topMain" class="nav nav-pills nav-main">
								
							     <li class="dropdown"><!-- Quick Links -->
										<a class="dropdown-toggle" (click)="searchFilter.onLinkClick('customerSupport')">
											Customer Support
										</a>
									</li>
									<li class="dropdown">
										<a class="dropdown-toggle" (click)="searchFilter.onAdminPanel()">
											Post Property Free
										</a>
									</li>
								</ul>

							</nav>
						</div>

					</div>
				</header>
			</div>

			<!-- /SLIDER -->