.userOptions {
    margin: 5px 0 25px;
    margin-left : 250px;
}
.userOptions.userOptionsError {
    margin-bottom: 0;
}
.userOptions li {
    width: 30%;
    display: inline-block;
}
.propActive .propicons, .propActive img {
    filter: none;
    -webkit-filter: grayscale(0);
    opacity: 1;
}

.deck span {
    display: table;
    margin: auto;
}
    

.propicons {
    margin: auto;
    max-width: 36px;
    filter: gray;
    -webkit-filter: grayscale(100%);
    -webkit-transition: all .6s ease;
    -webkit-backface-visibility: hidden;
    opacity: .5;
    background-image: url('../../../assets/prop_types-v2.png');
    background-repeat: no-repeat;
    height: 42px;
    width: 48px;
}

.userOptions li div {
    width: 60px;
    text-align: center;
    cursor: pointer;
    position: relative;
}
.userOptions li div i {
    background: url('../../../assets/sprite-v10.png') -147px -158px no-repeat;
    position: absolute;
    width: 21px;
    height: 21px;
    display: none;
    z-index: 1;
    top: 40px;
    left: 45px;
}
.userOptions li div span {
    background: url('../../../assets/sprite-v10.png') top left no-repeat;
    display: inline-block;
    width: 100%;
    height: 60px;
}
.userOptions li div.owner span {
    background-position: -190px 0;
}
.userOptions li div.owner.active span {
    background-position: -190px -61px;
}
.userOptions li div.dealer span {
    background-position: -260px 0;
}
.userOptions li div.dealer.active span {
    background-position: -260px -62px;
}
.userOptions li div.builder span {
    background-position: -329px 0;
}
.userOptions li div.builder.active span {
    background-position: -329px -61px;
}
.userOptions li div.active i {
    display: inline-block;
}
.userOptions li:last-child {
    width: 60px;
}
.userOpts {
    margin: 5px 0 25px;
    margin-left : 250px;
}
.userOpts.userOptsError {
    margin-bottom: 0;
}
.userOpts li {
    width: 30%;
    display: inline-block;
}
.userOpts li div {
    width: 60px;
    text-align: center;
    cursor: pointer;
    position: relative;
}
.userOpts li div i {
    background: url('../../../assets/prop_types-v2.png') -147px -158px no-repeat;
    -webkit-filter: grayscale(100%);
    position: absolute;
    width: 36px;
    height: 1px;
    display: none;
    z-index: 1;
    top: 40px;
    left: 45px;
}
.userOpts li div span {
    background: url('../../../assets/prop_types-v2.png') top left no-repeat;
    display: inline-block;
    width: auto;
    height: 42px;
    max-width: 36px;
    margin:auto
}
.userOpts li div.prop1 span {
    background-position: -7px 0;
}
.userOpts li div.prop1.active span {
    background-position: -7px -82px;
}
.userOpts li div.prop2 span {
    background-position: -100px 0;
}
.userOpts li div.prop2.active span {
    background-position: -100px -82px;
}
.userOpts li div.prop3 span {
    background-position: -190px 0;
}
.userOpts li div.prop3.active span {
    background-position: -190px -82px;
}
.userOpts li div.active i {
    display: inline-block;
}
.userOpts li:last-child {
    width: 60px;
}
 .propActive, .deck:hover {
    color: #59cdb5;
}
.propActive i {
    display: block;
}


.deck i {
    background: url('../../../assets/sprite-v10.png') -147px -158px no-repeat;
    position: absolute;
    left: 58px;
    top: 25px;
    width: 21px;
    height: 21px;
    display: none;
    z-index: 1;
}
.deck {
    min-height: 100px;
    position: relative;
    cursor: pointer;
}


//added for amenities

.amenities i {
    background: url('../../../assets/sprite-v10.png') -147px -158px no-repeat;
    position: absolute;
    width: 21px;
    height: 21px;
    display: none;
    z-index: 1;
    left: 58px;
    top: 25px;
}

.amenities {
    min-height: 100px;
    position: relative;
    cursor: pointer;}
.amenityIcons, .amenities img {
margin: auto;
max-width: 36px;
    width: 44px;
    height: 44px;
    filter: gray;
    -webkit-filter: grayscale(100%);
    -webkit-transition: all .6s ease;
    -webkit-backface-visibility: hidden;
    opacity: .5;
    background-image: url('../../../assets/amenities-v1.png');
    background-repeat: no-repeat;
}

.amenities span {
    display: table;
    margin: auto;
}
.amenactive .amenityIcons, .amenactive img {
    filter: none;
    -webkit-filter: grayscale(0);
    opacity: 1;
}
.amenactive i {
    display: block;
}



.amenity21 {
    background-position: -94px -44px;
}
.amenity6 {
    background-position: -136px -132px;
}
.amenity23 {
    background-position: -10px -44px;
}
.amenity19 {
    background-position: -184px -44px;
}
.amenity24 {
    background-position: -180px -2px;
}
.amenity5 {
    background-position: -184px -132px;
}
.amenity20 {
    background-position: -137px -44px;
}
.amenity17 {
    background-position: -269px -44px;
}
.amenity25 {
    background-position: -138px 4px;
}
.amenity8 {
    background-position: -50px -132px;
}
.amenity26 {
    background-position: -266px 0;
}
.amenity29 {
    background-position: -49px 0;
}
.amenity32 {
    background-position: -313px -88px;
}
.amenity9 {
    background-position: -5px -132px;
}
.amenity1 {
    background-position: -310px -40px;
}
.amenity12 {
    background-position: -180px -85px;
}
.amenity11 {
    background-position: -224px -85px;
}
.amenity22 {
    background-position: -50px -44px;
}
.amenity16 {
    background-position: -6px -88px;
}
.amenity10 {
    background-position: -267px -88px;
}
.amenity27 {
    background-position: -222px 0;
}
.amenity13 {
    background-position: -139px -88px;
}
.amenity28 {
    background-position: -91px 0;
}
.amenity3 {
    background-position: -268px -132px;
}
.amenity15 {
    background-position: -48px -88px;
}

.prop1 {
    background-position: -4px 1px;
}
.prop3 {
    background-position: -93px 1px;
}
.prop2 {
    background-position: -51px 1px;
}
.prop4 {
    background-position: -141px 1px;
}
.prop5 {
    background-position: -5px -44px;
}
.prop90 {
    background-position: -51px -44px;
}
.prop22 {
    background-position: -96px -44px;
}
.prop80, .prop81 {
    background-position: -141px -44px;
}
.prop7 {
    background-position: -140px -82px;
}
.prop6 {
    background-position: -5px -81px;
}
.prop9 {
    background-position: -45px -81px;
}
.prop82 {
    background-position: -96px -83px;
}
.prop20 {
    background-position: -49px -129px;
}
.prop16 {
    background-position: -5px -129px;
}
.prop18 {
    background-position: -96px -214px;
}
.prop15 {
    background-position: -5px -214px;
}
.prop14 {
    background-position: -141px -169px;
}
.prop10 {
    background-position: -96px -129px;
}
.prop83 {
    background-position: -140px -129px;
}
.prop12 {
    background-position: -51px -172px;
}
.prop13 {
    background-position: -95px -172px;
}
.prop21 {
    background-position: -5px -260px;
}
.prop19 {
    background-position: -142px -214px;
}
.prop17 {
    background-position: -51px -214px;
}
.prop11 {
    background-position: -6px -169px;
}
.nextButton{
    float: right;
}
.preButton{
    float: left;
}