<div class="row">
  <div class="col-sm-12">
    <!-- Basic Form Inputs card start -->
    <app-card [title]="'Basic Form Inputs'" [cardOptionBlock]="true">
      <h4 class="sub-title">Property</h4>
      <form>
        <div class="form-group row">
          <label class="col-sm-4">Type</label>
          <div class="col">
            <ng-select [ngClass]="'ng-select'" [options]="propertyTypeOption" name="type" [(ngModel)]="propModel.type"></ng-select>
          </div>
        </div>
        <h4 class="sub-title">Details</h4>
         <div class="form-group row">
          <label class="col-sm-4">Unit Type</label>
          <div class="col">
            <input type="text" class="form-control" name="unitType" [(ngModel)]="propModel.details.unitType">
          </div>
        </div>
             <div class="form-group row">
          <label class="col-sm-4">Built Up area</label>
          <div class="col">
            <input type="text" class="form-control"  name="buildUpArea" [(ngModel)]="propModel.details.builtUpArea">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4">Bedrooms</label>
          <div class="col">
            <input type="text" class="form-control"  name="bedrooms" [(ngModel)]="propModel.details.bedrooms">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4">Bathrooms</label>
          <div class="col">
            <input type="text" class="form-control"  name="bathrooms" [(ngModel)]="propModel.details.bathrooms">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4">Balconies</label>
          <div class="col">
            <input type="text" class="form-control" name="balconies" [(ngModel)]="propModel.details.balconies">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4">Pooja room</label>
          <div class="col">
          <ui-switch class="js-single" color="#4680ff" name="poojaRoom" switchColor="#fff" [(ngModel)]="propModel.details.poojaRoom" size="medium" checked></ui-switch>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4">Study room</label>
          <div class="col">
            <ui-switch class="js-single" color="#4680ff" name="studyRoom" switchColor="#fff" [(ngModel)]="propModel.details.studyRoom" size="medium" checked></ui-switch>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4">Servant room</label>
          <div class="col">
            <ui-switch class="js-single" color="#4680ff" name="servantRoom" switchColor="#fff" [(ngModel)]="propModel.details.servantRoom" size="medium" checked></ui-switch>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4">Others</label>
          <div class="col">
            <ui-switch class="js-single" color="#4680ff" name="others" switchColor="#fff" [(ngModel)]="propModel.details.others" size="medium" checked></ui-switch>
          </div>
        </div>
         <div class="form-group row">
          <label class="col-sm-4">Property on Floor</label>
          <div class="col">
            <input type="text" class="form-control" name="propertyOnFloor" [(ngModel)]="propModel.details.propertyOnFloor">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4">Total Floors</label>
          <div class="col">
            <input type="text" class="form-control" name="totalFloors" [(ngModel)]="propModel.details.totalFloors">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4">Parking Type</label>
          <div class="col">
            <input type="text" class="form-control" name="ParkingType" [(ngModel)]="propModel.details.parkingType">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4">Project Name</label>
          <div class="col">
            <input type="text" class="form-control" name="ProjectName" [(ngModel)]="propModel.details.projectName">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4">Locality</label>
          <div class="col">
            <input type="text" class="form-control" name="Locality" [(ngModel)]="propModel.details.locality">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4">Nagotiable</label>
          <div class="col">
            <ui-switch class="js-single" color="#4680ff" name="negotiable" switchColor="#fff" [(ngModel)]="propModel.details.negotiable" size="medium" checked></ui-switch>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4">Expected Price</label>
          <div class="col">
            <input type="text" class="form-control" name="expectedPrice" [(ngModel)]="propModel.details.expectedPrice">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4">Price Per Unit</label>
          <div class="col">
            <input type="text" class="form-control" name="pricePerUnit" [(ngModel)]="propModel.details.pricePerUnit">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4">Availability</label>
          <div class="col">
          
           <ng-select [ngClass]="'ng-select'" [options]="availabilityOption" name="availability" [(ngModel)]="propModel.details.availability"></ng-select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4">TrasactionType</label>
          <div class="col">
           <ng-select [ngClass]="'ng-select'" [options]="transTypeOption" name="availability" [(ngModel)]="propModel.details.transactionType"></ng-select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4">Possession BY</label>
          <div class="col">
            <input type="text" class="form-control" name="possessionBy" [(ngModel)]="propModel.details.possessionBy">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4">All Inclusive</label>
          <div class="col">
            <ui-switch class="js-single" color="#4680ff" name="AllInclusive" switchColor="#fff" [(ngModel)]="propModel.details.AllInclusive" size="medium" checked></ui-switch>
          </div>
        </div>
       <h4 class="sub-title">Features</h4>
       <div class="form-group row">
          <label class="col-sm-4">Power Backup</label>
          <div class="col">
            <input type="text" class="form-control" name="powerBackup" [(ngModel)]="propModel.features.powerBackup">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4">Facig</label>
          <div class="col">
            <input type="text" class="form-control" name="facig" [(ngModel)]="propModel.features.facig">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4">Width Of Facing Road</label>
          <div class="col">
            <input type="text" class="form-control" name="widthOfFacingRoad" [(ngModel)]="propModel.features.widthOfFacingRoad">
          </div>
        </div>

    <div class="form-group row">
          <label class="col-sm-4">Width Of Facing Unit</label>
          <div class="col">
            <input type="text" class="form-control" name="widthOfFacingUnit" [(ngModel)]="propModel.features.widthOfFacingUnit">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4">Type of flooring</label>
          <div class="col">
            <input type="text" class="form-control" name="typeOfFlooring" [(ngModel)]="propModel.features.typeOfFlooring">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4">Gated Society</label>
          <div class="col">
            <ui-switch class="js-single" color="#4680ff" name="gatedSociety" switchColor="#fff" [(ngModel)]="propModel.details.gatedSociety" size="medium" checked></ui-switch>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4">Amenities</label>
          <div class="col">
            <input type="text" class="form-control" name="amenities" [(ngModel)]="propModel.details.amenities">
            <ng-select [ngClass]="'ng-select'" [options]="amenitiesOption" name="amenities"  [multiple]="true" [(ngModel)]="propModel.features.amenities"></ng-select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4">Description</label>
          <div class="col">
            <input type="text" class="form-control" name="Description" [(ngModel)]="propModel.features.Description">
          </div>
        </div>
         <div class="form-group row">
          <label class="col-sm-4"></label>
          <div class="col">
       			<button class="btn btn-success btn-round" (click)="saveMethod()">Submit</button>
       			<div *ngIf="propModel.isSubmitted">Success! Property informaion saved.</div>
          </div>
        </div>
       
       
    </form></app-card></div></div>
