	<!-- SLIDER -->
			
							<div class="col-sm-10 col-sm-offset-1">
								
								<ul class="nav nav-tabs">
										<li [class.active]="searchFilter.type=='buy'" ><a (click)="searchMethod('buy')">BUY</a></li>
										<li [class.active]="searchFilter.type=='rent'"><a (click)="searchMethod('rent')">RENT</a></li>
										<li [class.active]="searchFilter.type=='commercial'"><a href="#commercial" (click)="searchMethod('commercial')">COMMERCIAL</a></li>
										<li [class.active]="searchFilter.type=='astrologer'"><a href="#astrologer" (click)="searchMethod('astrologer')">VASTU ASTROLOGER</a></li>
										<li [class.active]="searchFilter.type=='architect'"><a href="#architect" (click)="searchMethod('architect')">ARCHITECT</a></li>
										<li [class.active]="searchFilter.type=='consultant'"><a href="#consultant" (click)="searchMethod('consultant')">LEGAL CONSULTANT</a></li>
								</ul>
									
									  <div class="tab-content">
										<div id="rent" class="tab-pane active in fade">
												<div class="col-sm-2">
														<div class="dropdown">
																
																<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Property Type
																<span class="caret"></span></button>
																<ul class="dropdown-menu menu-s">
																  <li><a href="#"><div class="checkbox"><label><input type="checkbox" value="">All Residential</label>
																  </div></a>
																	<ul>
																		<li><a href="#"><div class="checkbox"><label><input type="checkbox" value="">Commercial Shops</label>
																		</div></a>
																	   </li>
																		<li><a href="#"><div class="checkbox"><label><input type="checkbox" value="">Residential Apartment</label>
																		</div></a>
																		</li>
																		<li><a href="#"><div class="checkbox"><label><input type="checkbox" value="">Independent/Builder Floor</label>
																		</div></a>
																		</li>
																		<li><a href="#"><div class="checkbox"><label><input type="checkbox" value="">Independent House/Villa</label>
																		</div></a>
																		</li>
																		<li><a href="#"><div class="checkbox"><label><input type="checkbox" value="">Studio Apartment</label>
																		</div></a>
																		</li>
																		<li><a href="#"><div class="checkbox"><label><input type="checkbox" value="">Farm House</label>
																		</div></a>
																		</li>
																		<li><a href="#"><div class="checkbox"><label><input type="checkbox" value="">Serviced Apartment</label>
																		</div></a>
																		</li>
																		<li><a href="#"><div class="checkbox"><label><input type="checkbox" value="">Other</label>
																		</div></a>
																		</li>
																	</ul>
																  </li>
																 <li><a href="#"><div class="checkbox"><label><input type="checkbox" value="">All Commercial</label>
																 </div></a>
																	 
																	 <ul>
																	   <li><a href="#"><div class="checkbox"><label><input type="checkbox" value="">Commercial Shops</label>
																	   </div></a>
																		</li>
																	   <li><a href="#"><div class="checkbox"><label><input type="checkbox" value="">Commercial Showrooms</label>
																	   </div></a>
																		</li>
																	   <li><a href="#"><div class="checkbox"><label><input type="checkbox" value=""> Commercial Office/Space</label>
																	   </div></a>
																		</li>
																	   <li><a href="#"><div class="checkbox"><label><input type="checkbox" value="">Commercial Land/Inst. Land</label>
																	   </div></a>
																		</li>
																	   <li><a href="#"><div class="checkbox"><label><input type="checkbox" value="">Industrial Lands/Plots</label>
																	   </div></a>
																		</li>
																	   <li><a href="#"><div class="checkbox"><label><input type="checkbox" value="">Agricultural/Farm Land</label>
																	   </div></a>
																		</li>
																	   <li><a href="#"><div class="checkbox"><label><input type="checkbox" value="">Hotel/Resorts</label>
																	   </div></a>
																		</li>
																	   <li><a href="#"><div class="checkbox"><label><input type="checkbox" value="">Guest-House/Banquet-Halls</label>
																	   </div></a>
																		</li>
																	   <li><a href="#"><div class="checkbox"><label><input type="checkbox" value="">Time Share</label>
																	   </div></a>
																		</li>
																	   <li><a href="#"><div class="checkbox"><label><input type="checkbox" value="">Space in Retail Mall</label>
																	   </div></a>
																		</li>
																	   <li><a href="#"><div class="checkbox"><label><input type="checkbox" value="">Office in Business Park</label>
																	   </div></a>
																		</li>
																	   <li><a href="#"><div class="checkbox"><label><input type="checkbox" value="">Office in IT Park</label>
																	   </div></a>
																		</li>
																	   <li><a href="#"><div class="checkbox"><label><input type="checkbox" value="">Ware House</label>
																	   </div></a>
																	   </li>
																	   <li><a href="#"><div class="checkbox"><label><input type="checkbox" value="">Cold Storage</label>
																	   </div></a>
																		</li>
																	   <li><a href="#"><div class="checkbox"><label><input type="checkbox" value="">Factory</label>
																	   </div></a>
																		</li>
																	   <li><a href="#"><div class="checkbox"><label><input type="checkbox" value="">Manufacturing</label>
																	   </div></a>
																		</li>
																	   <li><a href="#"><div class="checkbox"><label><input type="checkbox" value="">Business center</label>
																	   </div></a>
																		</li>
																	   <li><a href="#"><div class="checkbox"><label><input type="checkbox" value="">Other</label>
																	   </div></a>
																		</li>
																	</ul>
																</li>
																</ul>
													   </div>
													</div>
													<div class="col-sm-6 "><input type="text" [(ngModel)]="searchFilter.searchValue" class="form-control slider-input" id="buy-sub" placeholder="Type Location or Project/Society or Keyword"></div>
													<div class="col-sm-2"> <a (click)="searchListMethod()"> <button type="button" class="btn btn-primary" (click)="searchListMethod()">Search</button></a></div>
													<div class="col-sm-12 buy-sub" style="display: none;">
																<div class="col-sm-2"> <div class="dropdown">
																				
																		<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Construction Status
																		<span class="caret"></span></button>
																		<ul class="dropdown-menu menu-b">
																			
																				<li><a href="#"><div class="radio"><label><input type="radio" name="optradio">Under Construction
																				</label></div></a></li>
																			<li><a href="#"><div class="radio"><label><input type="radio" name="optradio">Ready to move</label>
																				</div></a></li>
																		
																		</ul>
															</div></div>
																<div class="col-sm-2"> <div class="dropdown">
																				
																		<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Price Range (Min)
																		<span class="caret"></span></button>
																		
																		<ul class="dropdown-menu menu-b">
																		<li><a href="#"></a>Below 5 Lacs</li>
																		<li><a href="#"></a>5 Lacs</li>
																		<li><a href="#"></a>10 Lacs</li>
																		<li><a href="#"></a>15 Lacs</li>
																		<li><a href="#"></a>20 Lacs</li>
																		<li><a href="#"></a>25 Lacs</li>
																		<li><a href="#"></a>30 Lacs</li>
																		<li><a href="#"></a>35Lacs</li>
																		<li><a href="#"></a>40 Lacs</li>
																		<li><a href="#"></a>45 Lacs</li>
																		<li><a href="#"></a>40 Lacs</li>
																		<li><a href="#"></a>45 Lacs</li>
																		<li><a href="#"></a>50 Lacs</li>
																		<li><a href="#"></a>50 Lacs above</li>
																		<li><a href="#"></a>On Request</li>
																		
																		</ul>
															</div>
															</div>
															<div class="col-sm-2"> <div class="dropdown">
																				
																	<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Price Range (Max)
																	<span class="caret"></span></button>
																	
																	<ul class="dropdown-menu menu-b">
																			<li><a href="#"></a>Below 5 Lacs</li>
																			<li><a href="#"></a>5 Lacs</li>
																			<li><a href="#"></a>10 Lacs</li>
																			<li><a href="#"></a>15 Lacs</li>
																			<li><a href="#"></a>20 Lacs</li>
																			<li><a href="#"></a>25 Lacs</li>
																			<li><a href="#"></a>30 Lacs</li>
																			<li><a href="#"></a>35Lacs</li>
																			<li><a href="#"></a>40 Lacs</li>
																			<li><a href="#"></a>45 Lacs</li>
																			<li><a href="#"></a>50 Lacs</li>
																			<li><a href="#"></a>50 Lacs above</li>
																			<li><a href="#"></a>On Request</li>
																	
																	</ul>
														</div>
														</div>
																<div class="col-sm-2"> <div class="dropdown">
																				
																		<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Bedroom
																		<span class="caret"></span></button>
																		<ul class="dropdown-menu menu-b" style="height:250px;overflow-y: scroll;">
																				<li><a href="#"><div class="checkbox"><label><input type="checkbox" value="">Any</label>
																				</div></a>
																				</li>
																				<li><a href="#"><div class="checkbox"><label><input type="checkbox" value="">1 BHK</label>
																				</div></a>
																				</li>
																				<li><a href="#"><div class="checkbox"><label><input type="checkbox" value="">2 BHK</label>
																				</div></a>
																				</li>
																				<li><a href="#"><div class="checkbox"><label><input type="checkbox" value="">3 BHK</label>
																				</div></a>
																					</li>
																					<li><a href="#"><div class="checkbox"><label><input type="checkbox" value="">4 BHK</label>
																					</div></a>
																					</li>
																					<li><a href="#"><div class="checkbox"><label><input type="checkbox" value="">5 BHK</label>
																					</div></a>
																					</li>
																					<li><a href="#"><div class="checkbox"><label><input type="checkbox" value="">6 BHK</label>
																					</div></a>
																					</li>
																					<li><a href="#"><div class="checkbox"><label><input type="checkbox" value="">7 BHK</label>
																					</div></a>
																						</li>
																					<li><a href="#"><div class="checkbox"><label><input type="checkbox" value="">8 BHK</label>
																						</div></a>
																						</li>
																					<li><a href="#"><div class="checkbox"><label><input type="checkbox" value="">8 BHK +</label>
																						</div></a>
																						</li>
																		</ul>
															</div>
															</div>
																<div class="col-sm-2"> <div class="dropdown">
																				
																		<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Posted By
																		<span class="caret"></span></button>
																		<ul class="dropdown-menu menu-b">
																				<li><a href="#"><div class="checkbox"><label><input type="checkbox" value="">Owner</label>
																				</div></a>
																				</li>
																				<li><a href="#"><div class="checkbox"><label><input type="checkbox" value="">Builder</label>
																				</div></a>
																				</li>
																				<li><a href="#"><div class="checkbox"><label><input type="checkbox" value="">Dealer</label>
																				</div></a>
																				</li>
																		
																		</ul>
															</div>
															</div>
																<div class="col-sm-2 pull-right"><input type="button" class="btn btn-primary" value="Clear All"></div>
																</div>
										</div>
										</div>
                            </div>