<app-header></app-header>

<section class="container ourservices_container">
		<div class="panel panel-default">
				<div class="panel-heading">Property for Sale</div>
				<div class="panel-body">
					<div class="row">
						
						<div class="col-lg-6">
							<img  src="http://www.propertytrees.com/User-Login/photo-add/6.jpg" alt="">
						</div>
						<div class="col-lg-6">
								12 plots in khararWe boast of our well-maintained 
								database wherein we record all the residential, commercial and industrial properties to be bought
								 and sold. A quick browse through this would lead you to the dream prop
						</div>
						<button class="btn btn-primary">Privius</button><button class="btn btn-succes">Next</button>
					</div>
				</div>
		</div>
</section> 






<app-footer></app-footer>