<footer id="footer">
                  <div class="container">
                     <div class="row">
                        <div class="col-md-3">
                           <h4 class="letter-spacing-1">REAL ESTATE IN INDIA</h4>
                           <ul class="footer-links list-unstyled">
                              <li>
                                 <a title="Delhi / NCR Real Estate" href="#">Delhi / NCR</a>
                              </li>
                              <li>
                                 <a title="Mumbai Real Estate" href="#">Mumbai</a>
                              </li>
                              <li>
                                 <a title="Bangalore Real Estate" href="#">Bangalore</a>
                              </li>
                              <li>
                                 <a title="Chennai Real Estate" href="#">Chennai</a>
                              </li>
                              <li>
                                 <a title="Hyderabad Real Estate" href="#">Hyderabad</a>
                              </li>
                              <li>
                                 <a title="Pune Real Estate" href="#">Pune</a>
                              </li>
                              <li>
                                 <a title="Kolkata Real Estate" href="#">Kolkata</a>
                              </li>
                              <li>
                                 <a title="Ahmedabad Real Estate" href="#">Ahmedabad</a>
                              </li>
                              <li>
                                 <a title="Chandigarh Real Estate" href="#">Chandigarh</a>
                              </li>
                              <li>
                                 <a title="Jaipur Real Estate" href="#">Jaipur</a>
                              </li>
                              <li>
                                 <a title="Nagpur Real Estate" href="#">Nagpur</a>
                              </li>
                              <li>
                                 <a title="Bhubaneswar Real Estate" href="#">Bhubaneswar</a>
                              </li>
                              <li>
                                 <a title="Coimbatore Real Estate" href="#">Coimbatore</a>
                              </li>
                              <li>
                                 <a title="Goa Real Estate" href="#">Goa</a>
                              </li>
                              <li>
                                 <a title="Indore Real Estate" href="#">Indore</a>
                              </li>
                              <li>
                                 <a title="Kerala Real Estate" href="#">Kerala</a>
                              </li>
                              <li>
                                 <a title="Lucknow Real Estate" href="#">Lucknow</a>
                              </li>
                              <li>
                                 <a title="Surat Real Estate" href="#">Surat</a>
                              </li>
                              <li>
                                 <a title="Vadodara Real Estate" href="#">Vadodara</a>
                              </li>
                              <li>
                                 <a title="Dehradun Real Estate" href="#">Dehradun</a>
                              </li>
                              <li>
                                 <a title="Patna Real Estate" href="#">Patna</a>
                              </li>
                              <li>
                                 <a title="Nasik Real Estate" href="#">Nasik</a>
                              </li>
                              <li>
                                 <a title="Bhopal Real Estate" href="#">Bhopal</a>
                              </li>
                           </ul>
                        </div>
                        <div class="col-md-3">
                           <ul class="footer-links list-unstyled">
                              <li>
                                 <a title="Visakhapatnam Real Estate" href="#">Visakhapatnam</a>
                              </li>
                              <li>
                                 <a title="Kanpur Real Estate" href="#">Kanpur</a>
                              </li>
                              <li>
                                 <a title="Varanasi Real Estate" href="#">Varanasi</a>
                              </li>
                              <li>
                                 <a title="Vijayawada Real Estate" href="#">Vijayawada</a>
                              </li>
                              <li>
                                 <a title="Mysore Real Estate" href="#">Mysore</a>
                              </li>
                              <li>
                                 <a title="Ranchi Real Estate" href="#">Ranchi</a>
                              </li>
                              <li>
                                 <a title="Raipur Real Estate" href="#">Raipur</a>
                              </li>
                              <li>
                                 <a title="Mangalore Real Estate" href="#">Mangalore</a>
                              </li>
                              <li>
                                 <a title="Vapi Real Estate" href="#">Vapi</a>
                              </li>
                              <li>
                                 <a title="Rajkot Real Estate" href="#">Rajkot</a>
                              </li>
                              <li>
                                 <a title="Trichy Real Estate" href="#">Trichy</a>
                              </li>
                              <li>
                                 <a title="Madurai Real Estate" href="#">Madurai</a>
                              </li>
                              <li>
                                 <a title="Hubli Real Estate" href="#">Hubli</a>
                              </li>
                              <li>
                                 <a title="Allahabad Real Estate" href="#">Allahabad</a>
                              </li>
                              <li>
                                 <a title="Pondicherry Real Estate" href="#">Pondicherry</a>
                              </li>
                              <li>
                                 <a title="Agra Real Estate" href="#">Agra</a>
                              </li>
                              <li>
                                 <a title="Ludhiana Real Estate" href="#">Ludhiana</a>
                              </li>
                              <li>
                                 <a title="Amritsar Real Estate" href="#">Amritsar</a>
                              </li>
                              <li>
                                 <a title="Jalandhar Real Estate" href="#">Jalandhar</a>
                              </li>
                              <li>
                                 <a title="Udaipur Real Estate" href="#">Udaipur</a>
                              </li>
                              <li>
                                 <a title="Jodhpur Real Estate" href="#">Jodhpur</a>
                              </li>
                              <li>
                                 <a title="Gwalior Real Estate" href="#">Gwalior</a>
                              </li>
                              <li>
                                 <a title="Jabalpur Real Estate" href="#">Jabalpur</a>
                              </li>
                              <li>
                                 <a title="Aurangabad Real Estate" href="#">Aurangabad</a>
                              </li>
                           </ul>
                        </div>
                        <div class="col-md-2">
                           <!-- COMPANY -->
                           <h4 class="letter-spacing-1">COMPANY</h4>
                           <ul class="footer-links list-unstyled">
                              <li><a href="#">Home</a></li>
                              <li><a href="#">About Us</a></li>
                              <li><a href="#">Our Services</a></li>
                              <li><a href="#">Our Clients</a></li>
                              <li><a href="#">Our Pricing</a></li>
                              <li><a href="#">Contact Us</a></li>
                           </ul>
                           <!-- /COMPANY -->
                           <!-- OTHER LINKS -->
                           <h4 class="letter-spacing-1">OTHER LINKS</h4>
                           <ul class="footer-links list-unstyled">
                              <li><a href="#">LINK</a></li>
                              <li><a href="#">LINK 2</a></li>
                              <li><a href="#">LINK 3</a></li>
                              <li><a href="#">LINK 4</a></li>
                              <li><a href="#">LINK 5</a></li>
                              <li><a href="#"> LINK 6</a></li>
                           </ul>
                           <!-- /OTHER LINKS -->
                        </div>
                        <div class="col-md-4">
                           <h4 class="letter-spacing-1">CONTACT US</h4>
                           <!-- Footer Logo -->
                           <img class="footer-logo" src="assets/images/logo.png" alt="" />
                           <!-- Small Description -->
                           <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
                           <!-- Contact Address -->
                           <address>
                              <ul class="list-unstyled">
                                 <li class="footer-sprite address">
                                    PO Box 21132<br>
                                    Here Weare St, Melbourne<br>
                                    Vivas 2355 Australia<br>
                                 </li>
                                 <li class="footer-sprite phone">
                                    Phone: 1-800-565-2390
                                 </li>
                                 <li class="footer-sprite email">
                                    <a href="mailto:support@yourname.com">support@yourname.com</a>
                                 </li>
                              </ul>
                           </address>
                           <!-- /Contact Address -->
                           <!-- Newsletter Form -->
                           <BR/>
                           <h4 class="letter-spacing-1">KEEP IN TOUCH</h4>
                           <p>Subscribe to Our Newsletter to get Important News &amp; Offers</p>
                           <form class="validate" action="php/newsletter.php" method="post" data-success="Subscribed! Thank you!" data-toastr-position="bottom-right">
                              <div class="input-group">
                                 <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                 <input type="email"  name="email" class="form-control required" placeholder="Enter your Email">
                                 <span class="input-group-btn">
                                 <button class="btn btn-success" type="submit">Subscribe</button>
                                 </span>
                              </div>
                           </form>
                           <!-- /Newsletter Form -->
                           <!-- Social Icons -->
                           <div class="margin-top-20">
                              <a href="#" class="social-icon social-icon-border social-facebook pull-left" data-toggle="tooltip" data-placement="top" title="Facebook">
                              <i class="icon-facebook"></i>
                              <i class="icon-facebook"></i>
                              </a>
                              <a href="#" class="social-icon social-icon-border social-twitter pull-left" data-toggle="tooltip" data-placement="top" title="Twitter">
                              <i class="icon-twitter"></i>
                              <i class="icon-twitter"></i>
                              </a>
                              <a href="#" class="social-icon social-icon-border social-gplus pull-left" data-toggle="tooltip" data-placement="top" title="Google plus">
                              <i class="icon-gplus"></i>
                              <i class="icon-gplus"></i>
                              </a>
                              <a href="#" class="social-icon social-icon-border social-linkedin pull-left" data-toggle="tooltip" data-placement="top" title="Linkedin">
                              <i class="icon-linkedin"></i>
                              <i class="icon-linkedin"></i>
                              </a>
                              <a href="#" class="social-icon social-icon-border social-rss pull-left" data-toggle="tooltip" data-placement="top" title="Rss">
                              <i class="icon-rss"></i>
                              <i class="icon-rss"></i>
                              </a>
                           </div>
                           <!-- /Social Icons -->
                        </div>
                     </div>
                  </div>
                  <div class="copyright">
                     <div class="container">
                        <ul class="pull-right nomargin list-inline mobile-block">
                           <li><a href="#">Terms &amp; Conditions</a></li>
                           <li>&bull;</li>
                           <li><a href="#">Privacy</a></li>
                        </ul>
                        &copy; All Rights Reserved, Propertytrees.com
                     </div>
                  </div>
               </footer>