<app-header></app-header>

<section class="container">
<h2 class="about_heading">About Us</h2>
<div class="row">
	<div class="col-lg-4"><img src="http://www.propertytrees.com/images/name.png" width="250" height="130"></div>
	<div class="col-lg-8 ">
			The fast growing real estate website among the various property sites in india, was established to help you search, buy, sell , rent indian property. You can find vast residential and commercial properties on our website including Independent house, villas, residential land, factory, agricultural land, farm house, studio apartment, showrooms, business/IT park,etc. Look for a property in cities other than the metro cities like surat, bhopal, lucknow, guwahati, jaipur, Kochi, Nagpur, Goa, Indore,
			Mysore, Dehradun, Lucknow, etc. We offer complete dedication to help you take profitable decisions for your
	</div>
</div>
<div class="row">
	<div class="col-lg-12">desired property by connecting you with the real estate agents.Advertise your properties for sale or on lease.Call the Live support to avail our services.
			The fast growing real estate website among the various property sites in india, was established to help you search, buy, sell , rent indian property. You can find vast residential and commercial properties on our website including Independent house, villas, residential land, factory, agricultural land, farm house, studio apartment, showrooms, business/IT park,etc. Look for a property in cities other than the metro cities like surat, bhopal, lucknow, guwahati, jaipur, Kochi, Nagpur, Goa, Indore, Mysore, Dehradun, Lucknow, etc. We offer complete dedication to help you take profitable decisions for your desired property by connecting you with 
			the real estate agents.Advertise your properties for sale or on lease.Call the Live support to avail our services.</div>
</div>
</section>
<app-footer></app-footer>