		<!-- SLIDE TOP -->
		<div id="slidetop">
   
			<div class="container">
					<h2><span class="glyphicon glyphicon-check"></span> Powered By <a href="Propertytrees.com">Propertytrees</a></h2><hr>
				<div class="row">

					<div class="col-md-4">
						<h6><i class="icon-heart"></i> Why Bhasin Homes?</h6>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. </p>
					</div>

					<div class="col-md-4">
						<h6><i class="icon-attachment"></i>Latest Updates</h6>
						<ul class="list-unstyled">
							<li><a href="#"><i class="fa fa-angle-right"></i> Consectetur adipiscing elit amet</a></li>
							<li><a href="#"><i class="fa fa-angle-right"></i> This is a very long text, very very very very very very very very very very very very </a></li>
							<li><a href="#"><i class="fa fa-angle-right"></i> Lorem ipsum dolor sit amet</a></li>
							<li><a href="#"><i class="fa fa-angle-right"></i> Dolor sit amet,consectetur adipiscing elit amet</a></li>
							<li><a href="#"><i class="fa fa-angle-right"></i> Consectetur adipiscing elit amet,consectetur adipiscing elit</a></li>
						</ul>
					</div>

					<div class="col-md-4">
						<h6><i class="icon-envelope"></i> Site Address</h6>
						<ul class="list-unstyled">
							<li><b>Address:</b> PO Box 21132, Here Weare St, <br /> Melbourne, Vivas 2355 Australia</li>
							<li><b>Phone:</b> 1-800-565-2390</li>
							<li><b>Email:</b> <a href="mailto:support@yourname.com">support@yourname.com</a></li>
						</ul>
					</div>

				</div>

			</div>

			<a class="slidetop-toggle" href="#"><!-- toggle button --></a>

		</div>
		<!-- /SLIDE TOP -->


		<!-- wrapper -->
		<div id="wrapper">

			<!-- 
				AVAILABLE HEADER CLASSES

				Default nav height: 96px
				.header-md 		= 70px nav height
				.header-sm 		= 60px nav height

				.noborder 		= remove bottom border (only with transparent use)
				.transparent	= transparent header
				.translucent	= translucent header
				.sticky			= sticky header
				.static			= static header
				.dark			= dark header
				.bottom			= header on bottom
				
				shadow-before-1 = shadow 1 header top
				shadow-after-1 	= shadow 1 header bottom
				shadow-before-2 = shadow 2 header top
				shadow-after-2 	= shadow 2 header bottom
				shadow-before-3 = shadow 3 header top
				shadow-after-3 	= shadow 3 header bottom

				.clearfix		= required for mobile menu, do not remove!

				Example Usage:  class="clearfix sticky header-sm transparent noborder"
			-->
			<div id="header" class="sticky header-md clearfix">

				<!-- TOP NAV -->
				<header id="topNav">
					<div class="container-fluid">

						<!-- Mobile Menu Button -->
						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>

						<!-- Logo -->
						<a class="logo pull-left scrollTo" href="#top">
							<img src="assets/images/project-page/project-logo.png" alt="" />
						</a>

						<!-- 
							Top Nav 
							
							AVAILABLE CLASSES:
							submenu-dark = dark sub menu
						-->
						<div class="navbar-collapse pull-right nav-main-collapse collapse submenu-dark">
							<nav class="nav-main">

								<!-- 
									.nav-onepage
									Required for onepage navigation links
									
									Add .external for an external link!
								-->
								<ul id="topMain" class="nav nav-pills nav-main nav-onepage">
									<li class="active"><!-- HOME -->
										<a href="#home">
											HOME
										</a>
									</li>
									<li><!-- OVERVIEW -->
										<a href="#overview">
											OVERVIEW
										</a>
									</li>
									<li><!-- PLANS -->
										<a href="#Plans">
											PLANS
										</a>
									</li>
									<li><!-- AMENITIES -->
										<a href="#amenities">
											AMENITIES
										</a>
									</li>
									<li><!-- SPECIFICATIONS -->
										<a href="#specifications">
											SPECIFICATIONS
										</a>
									</li>
									<li><!-- GALLERY -->
										<a href="#gallery">
											GALLERY
										</a>
									</li>
									<li><!-- LOCATION -->
										<a href="#location">
											LOCATION
										</a>
									</li>
									<li><!-- ABOUT -->
										<a href="#about">
											ABOUT
										</a>
									</li>
									<li><!-- CONTACT -->
										<a href="#contact">
												CONTACT
										</a>
									</li>
									<li><!-- PROPERTIES -->
										<a href="#properties">
											MORE PROPERTIES
										</a>
									</li>
								</ul>

							</nav>
						</div>

					</div>
				</header>
				<!-- /Top Nav -->

			</div>



			<!-- REVOLUTION SLIDER -->
			<div class="slider fullwidthbanner-container roundedcorners" id="home">
				<!--
					Navigation Styles:
					
						data-navigationStyle="" theme default navigation
						
						data-navigationStyle="preview1"
						data-navigationStyle="preview2"
						data-navigationStyle="preview3"
						data-navigationStyle="preview4"
						
					Bottom Shadows
						data-shadow="1"
						data-shadow="2"
						data-shadow="3"
						
					Slider Height (do not use on fullscreen mode)
						data-height="300"
						data-height="350"
						data-height="400"
						data-height="450"
						data-height="500"
						data-height="550"
						data-height="600"
						data-height="650"
						data-height="700"
						data-height="750"
						data-height="800"
				-->
				<div class="fullwidthbanner" data-height="600" data-shadow="0" data-navigationStyle="preview2">
					<ul class="hide">
					
						<!-- SLIDE  -->
						<li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" data-title="slide1">
								<!-- MAIN IMAGE -->
								<img src="assets/images/PROJECT-PAGE/Commercial1.jpg" alt="cover image"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
	
								<div class="overlay dark-4"><!-- dark overlay [0 to 9 opacity] --></div>
	
								<div class="tp-caption font-roboto skewfromleft tp-resizeme"
									data-x="50"
									data-y="100" 
									data-speed="500"
									data-start="1500"
									data-easing="Cubic.easeOut"
									data-splitin="none"
									data-splitout="none"
									data-elementdelay="0.1"
									data-endelementdelay="0.1"
									data-endspeed="500"
									style="z-index: 2; color:#fff; font-size:45px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
									1, 2, 3 & 4 BHK Builder Floor<br/>
									at Uttam Nagar, Delhi West
								</div>
	
								<div class="tp-caption skewfromrightshort tp-resizeme"
									data-x="50"
									data-y="300" 
									data-speed="500"
									data-start="1000"
									data-easing="easeInCirc"
									data-splitin="none"
									data-splitout="none"
									data-elementdelay="0.1"
									data-endelementdelay="0.1"
									data-endspeed="500"
									style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">
									Area : 400 - 1550 Sq. Ft.<br />
									Price : Rs. 14 Lakh Onwards<br />
									Possession : Ready to Move
								</div>
	
								<div class="tp-caption sfb tp-resizeme"
									data-x="50"
									data-y="410" 
									data-speed="500"
									data-start="1500"
									data-easing="Power3.easeIn"
									data-splitin="none"
									data-splitout="none"
									data-elementdelay="1"
									data-endelementdelay="0.1"
									data-endspeed="500"
									style="z-index: 4; max-width: auto;">
										<a class="btn btn-warning btn-lg" href="#gallery">Explore More &nbsp; <i class="fa fa-angle-right"></i></a>
								</div>
	
								<div class="tp-caption sfb tp-resizeme"
									data-x="250"
									data-y="410" 
									data-speed="500"
									data-start="1500"
									data-easing="Power3.easeInOut"
									data-splitin="none"
									data-splitout="none"
									data-elementdelay="0.1"
									data-endelementdelay="0.1"
									data-endspeed="500"
									style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">
										<a class="btn btn-default btn-lg" href="#contact">GET A QUOTE &nbsp; <i class="fa fa-angle-right"></i></a>
								</div>
							</li>

						<!-- SLIDE  -->
						<li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" data-title="slide2">
								<!-- MAIN IMAGE -->
								<img src="assets/images/PROJECT-PAGE/Commercial2.jpg" alt="cover image"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
	
								<div class="overlay dark-4"><!-- dark overlay [0 to 9 opacity] --></div>
	
								<div class="tp-caption font-roboto skewfromleft tp-resizeme"
									data-x="50"
									data-y="100" 
									data-speed="500"
									data-start="1500"
									data-easing="Cubic.easeOut"
									data-splitin="none"
									data-splitout="none"
									data-elementdelay="0.1"
									data-endelementdelay="0.1"
									data-endspeed="500"
									style="z-index: 2; color:#fff; font-size:45px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
									1, 2, 3 & 4 BHK Builder Floor<br/>
									at Uttam Nagar, Delhi West
								</div>
	
								<div class="tp-caption skewfromrightshort tp-resizeme"
									data-x="50"
									data-y="300" 
									data-speed="500"
									data-start="1000"
									data-easing="easeInCirc"
									data-splitin="none"
									data-splitout="none"
									data-elementdelay="0.1"
									data-endelementdelay="0.1"
									data-endspeed="500"
									style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">
									Area : 400 - 1550 Sq. Ft.<br />
									Price : Rs. 14 Lakh Onwards<br />
									Possession : Ready to Move
								</div>
	
								<div class="tp-caption sfb tp-resizeme"
									data-x="50"
									data-y="410" 
									data-speed="500"
									data-start="1500"
									data-easing="Power3.easeIn"
									data-splitin="none"
									data-splitout="none"
									data-elementdelay="1"
									data-endelementdelay="0.1"
									data-endspeed="500"
									style="z-index: 4; max-width: auto;">
										<a class="btn btn-warning btn-lg" href="#gallery">Explore More &nbsp; <i class="fa fa-angle-right"></i></a>
								</div>
	
								<div class="tp-caption sfb tp-resizeme"
									data-x="250"
									data-y="410" 
									data-speed="500"
									data-start="1500"
									data-easing="Power3.easeInOut"
									data-splitin="none"
									data-splitout="none"
									data-elementdelay="0.1"
									data-endelementdelay="0.1"
									data-endspeed="500"
									style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">
										<a class="btn btn-default btn-lg" href="#contact">GET A QUOTE &nbsp; <i class="fa fa-angle-right"></i></a>
								</div>
							</li>
                        <!-- SLIDE  -->
						<li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" data-title="slide3">
								<!-- MAIN IMAGE -->
								<img src="assets/images/PROJECT-PAGE/Commercial3.jpg" alt="cover image"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
	
								<div class="overlay dark-4"><!-- dark overlay [0 to 9 opacity] --></div>
	
								<div class="tp-caption font-roboto skewfromleft tp-resizeme"
									data-x="50"
									data-y="100" 
									data-speed="500"
									data-start="1500"
									data-easing="Cubic.easeOut"
									data-splitin="none"
									data-splitout="none"
									data-elementdelay="0.1"
									data-endelementdelay="0.1"
									data-endspeed="500"
									style="z-index: 2; color:#fff; font-size:45px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
									1, 2, 3 & 4 BHK Builder Floor<br/>
									at Uttam Nagar, Delhi West
								</div>
	
								<div class="tp-caption skewfromrightshort tp-resizeme"
									data-x="50"
									data-y="300" 
									data-speed="500"
									data-start="1000"
									data-easing="easeInCirc"
									data-splitin="none"
									data-splitout="none"
									data-elementdelay="0.1"
									data-endelementdelay="0.1"
									data-endspeed="500"
									style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">
									Area : 400 - 1550 Sq. Ft.<br />
									Price : Rs. 14 Lakh Onwards<br />
									Possession : Ready to Move
								</div>
	
								<div class="tp-caption sfb tp-resizeme"
									data-x="50"
									data-y="410" 
									data-speed="500"
									data-start="1500"
									data-easing="Power3.easeIn"
									data-splitin="none"
									data-splitout="none"
									data-elementdelay="1"
									data-endelementdelay="0.1"
									data-endspeed="500"
									style="z-index: 4; max-width: auto;">
										<a class="btn btn-warning btn-lg" href="#gallery">Explore More &nbsp; <i class="fa fa-angle-right"></i></a>
								</div>
	
								<div class="tp-caption sfb tp-resizeme"
									data-x="250"
									data-y="410" 
									data-speed="500"
									data-start="1500"
									data-easing="Power3.easeInOut"
									data-splitin="none"
									data-splitout="none"
									data-elementdelay="0.1"
									data-endelementdelay="0.1"
									data-endspeed="500"
									style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">
										<a class="btn btn-default btn-lg" href="#contact">GET A QUOTE &nbsp; <i class="fa fa-angle-right"></i></a>
								</div>
							</li>
					</ul>

				</div>
			</div>
			<!-- /REVOLUTION SLIDER -->


			<hr class="nomargin" /><!-- 1px line separator -->


			<!-- BUTTON CALLOUT -->
			<a href="#contact" class="btn btn-xlg btn-primary size-20 fullwidth nomargin noradius padding-40">
				<span class="font-lato size-30">
					Did Bhasin Homes convinced you? 
					<strong>I AM INTERESTED &raquo;</strong>
				</span>
			</a>
			<!-- /BUTTON CALLOUT -->


			
			<!-- Overview -->
			<section id="overview">
				<div class="container">
						<div class="heading-title heading-dotted text-center">
								<h2>Overview</h2>
							</div>

					<div class="row">
						<div class="col-sm-12">
								<p class="lead font-lato text-justify">
										Bhasin Residency is one of the popular residential project located in Uttam Nagar, New Delhi. This project offers 1, 2 ,3 and 4 BHK Flats with basic amenities for the comfort of residents. It is close to market and many easy approach to educational institutions and shoping complex.
										</p>
										<h5>RERA NO. - UPRERAAPRJ6819 - TOWER E&F & UPRERAAPRJ11498 - TOWERG</h5>
										<h3>Bhasin Residency</h3>
										<p>By Basin Homes Developers Pvt Ltd | Sector 79, Sports City, Noida</p>
										<p> 54.8* Lac onwards</p>
										
									<p>2, 3 BHK Flats,   1310 - 1770 sqft</p>
										
										<h4>HIGHLIGHTS</h4><hr/>
										<div class="col-sm-4"> 
												<ul>
														<li>Possession : Sep 2021</li>
														<li>Authority Approved : NDA</li>
														
														</ul>
											</div>
										<div class="col-sm-4"> 
											<ul>
													<li>Commencement Certificate : Yes</li>
													<li>Occupancy Certificate: No</li>
													</ul>
										</div>
										<div class="col-sm-4"> 
											<ul>
													<li>Free Modular kitchen</li>
													<li>False Ceiling and Texture Paint or Wallpapers in all the room</li>
													<li>Free Car Parking</li>
													</ul>
												</div>

												<a href="#contact" class="btn btn-warning" role="button">I AM INTERESTED</a>

										
						</div>
					</div>

				</div>
			</section>
			<!-- /Overview -->

			<!-- Plans -->
			<section id="Plans">
					<div class="container">
							<div class="heading-title heading-dotted text-center">
									<h2>Our Plans</h2>
								</div>
	
						<div class="row">
							<div class="col-sm-12">
									<h2>Properties you can buy</h2>
									<ul class="nav nav-tabs" style="background: #7f7f7f;">
											<li class="active"><a data-toggle="tab" href="#2bhk">2 BHK Flats</a></li>
											<li><a data-toggle="tab" href="#3bhk">3 BHK Flats</a></li>
											<li><a data-toggle="tab" href="#4bhk">4 BHK Flats</a></li>
										  </ul>
										  
										  <div class="tab-content">
											<div id="2bhk" class="tab-pane fade in active">
											  <h3>2 BHK Flats</h3>
											  <div class="list-group col-sm-6">
													<a href="#" class="list-group-item"><strong>AREA (Sq Ft) :</strong> 520 - 770</a>
													<a href="#" class="list-group-item"><strong>TOTAL COST :</strong> Rs. 18 - 34 Lakhs Onwards</a>
													<a href="#" class="list-group-item"><strong>POSSESSION :</strong>Sep 2021</a>
													<a href="#" class="list-group-item"><strong>USP :</strong>Booking amount Rs 7 Lac | All Inclusive Price</a>
													<br/><a href="#contact" class="btn btn-warning" role="button">Connect With Builder</a>
											  </div>
											  <div class="col-sm-6">
													<img class="img-responsive img-thumbnail" src="assets/images/PROJECT-PAGE/map.jpg" alt="client">
											  </div>
											</div>
											<div id="3bhk" class="tab-pane fade">
											  <h3>3 BHK Flats</h3>
											  <div class="list-group col-sm-6">
													<a href="#" class="list-group-item"><strong>AREA (Sq Ft) :</strong> 520 - 770</a>
													<a href="#" class="list-group-item"><strong>TOTAL COST :</strong> Rs. 18 - 34 Lakhs Onwards</a>
													<a href="#" class="list-group-item"><strong>POSSESSION :</strong>Sep 2021</a>
													<a href="#" class="list-group-item"><strong>USP :</strong>Booking amount Rs 7 Lac | All Inclusive Price</a>
													<br/><a href="#contact" class="btn btn-warning" role="button">Connect With Builder</a>
											  </div>
											  <div class="col-sm-6">
													<img class="img-responsive img-thumbnail" src="assets/images/PROJECT-PAGE/map.jpg" alt="client">
											  </div>
											</div>
											<div id="4bhk" class="tab-pane fade">
											  <h3>4 BHK Flats</h3>
											  <div class="list-group col-sm-6">
													<a href="#" class="list-group-item"><strong>AREA (Sq Ft) :</strong> 520 - 770</a>
													<a href="#" class="list-group-item"><strong>TOTAL COST :</strong> Rs. 18 - 34 Lakhs Onwards</a>
													<a href="#" class="list-group-item"><strong>POSSESSION :</strong>Sep 2021</a>
													<a href="#" class="list-group-item"><strong>USP :</strong>Booking amount Rs 7 Lac | All Inclusive Price</a>
													<br/><a href="#contact" class="btn btn-warning" role="button">Connect With Builder</a>
											  </div>
											  <div class="col-sm-6">
													<img class="img-responsive img-thumbnail" src="assets/images/PROJECT-PAGE/map.jpg" alt="client">
											  </div>
											</div>
										  </div>
							</div>
						</div>
	
					</div>
				</section>
				<!-- /Plans -->

			


			<!-- Parallax -->
			<section class="parallax parallax-1" style="background-image: url('assets/images/project-page/bg1.jpg');">
				<div class="overlay dark-5"><!-- dark overlay [1 to 9 opacity] --></div>

				<div class="container">

					<div class="text-center">
						<h2 class="size-40 weight-300">Bhasin Homes  Serving  Since 1982</h2>
						<a class="btn btn-default btn-lg" href="#about">KNOW MORE <i class="fa fa-angle-right"></i></a> 
						&nbsp; OR &nbsp; 
						<a class="btn btn-warning btn-lg" href="#contact">CONNECT WITH US <i class="fa fa-angle-right"></i></a>
					</div>

				</div>
			</section>
			<!-- /Parallax -->

			<!-- Amenities -->
			<section id="amenities" class="alternate">
					<div class="container">
	
						<div class="heading-title heading-dotted text-center">
							<h2>Amenities</h2>
						</div>
						<ul class="row clients-dotted list-inline">
								<li class="col-md-3 col-sm-3 col-xs-6">
									<a href="#">
											<img src="assets/images/project-page/gym.png" height="100" width="100" class="img-circle" alt="gym">
											<p>Gym</p>
									</a>
								</li>
								<li class="col-md-3 col-sm-3 col-xs-6">
									<a href="#">
											<img src="assets/images/project-page/Swimming-Pool.png" height="100" width="100" class="img-responsive" alt="Swimming-Pool">
											<p>Swimming Pool</p>
									</a>
								</li>
								<li class="col-md-3 col-sm-3 col-xs-6">
									<a href="#">
											<img src="assets/images/project-page/Shopping.png" height="100" width="100" class="img-responsive" alt="Shopping">
											<p>Shopping</p>
									</a>
								</li>
								<li class="col-md-3 col-sm-3 col-xs-6">
									<a href="#">
											<img src="assets/images/project-page/Security.png" height="100" width="100" class="img-responsive" alt="Security">
											<p>24 X 7 Security</p>
									</a>
								</li>
								<li class="col-md-3 col-sm-3 col-xs-6">
									<a href="#">
											<img src="assets/images/project-page/jogging.png" height="100" width="100" class="img-responsive" alt="jogging">
											<p>Jogging</p>
									</a>
								</li>
								<li class="col-md-3 col-sm-3 col-xs-6">
									<a href="#">
											<img src="assets/images/project-page/power.png" height="100" width="100" class="img-responsive" alt="power">
											<p>power</p>
									</a>
								</li>
								<li class="col-md-3 col-sm-3 col-xs-6">
									<a href="#">
											<img src="assets/images/project-page/cafeteria.png" height="100" width="100" class="img-responsive" alt="Cafeteria">
											<p>Cafeteria</p>
									</a>
								</li>
								<li class="col-md-3 col-sm-3 col-xs-6">
									<a href="#">
											<img src="assets/images/project-page/Party-Hall.png" height="100" width="100" class="img-responsive" alt="Party-Hall">
											<p>Party Hall</p>
									</a>
								</li>
							</ul>
	
						
						<h3 class="text-center">I Like The Amenities <a class="btn btn-warning btn-md" href="#contact">KNOW MORE <i class="fa fa-angle-right"></i></a> </h3>
						
					</div>
				</section>
			<!-- /Amenities -->

			<!-- /Specifications -->
			<section id="specifications">
					<div class="container">
	
						<div class="heading-title heading-dotted text-center">
							<h2>Specifications</h2>
						</div>
						<div class="row margin-bottom-60">
								<div class="col-md-4">
									<div class="testimonial testimonial-bordered padding-15 speci-scroll">
										<figure class="pull-left">
											<img class="IMG-RESPONSIVE" src="assets/images/project-page/LIVING-ROOM.png" alt="LIVING-ROOM">
										</figure>
										<div class="testimonial-content">
												<h4>LIVING ROOM</h4>
												<ul>
												<li>POP punning with plastic emulsion (velvet touch) paint</li>
												<li>Flooring would be a mix of Italian, Spanish Marble and vitrified digital tiles.</li>
											   <li>Doors and Window frames shall be of Ivory Coast Teak .</li>
										       <li>Elegantly designed entrance door</li>
											  </ul>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="testimonial testimonial-bordered padding-15 speci-scroll">
										<figure class="pull-left">
												<img class="IMG-RESPONSIVE" src="assets/images/project-page/BEDROOM.png" alt="BEDROOM">
											</figure>
											<div class="testimonial-content">
													<h4>BEDROOM</h4>
													<ul>
															<li>Pop punning with plastic emulsion (velvet touch)  paint</li>
															<li>Flooring would be Italian marble or imported  wood,digital tiles.</li>
															<li>Designer wardrobes, cupboards, admirals</li>
															<li>Doors and Window frames shall be of ivory Coast  Teak High quality fittings of Indian, imported makes</li>
															</ul>
											</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="testimonial testimonial-bordered padding-15 speci-scroll">
										<figure class="pull-left">
											<img class="IMG-RESPONSIVE" src="assets/images/project-page/Flooring.png" alt="Flooring">
										</figure>
										<div class="testimonial-content">
												<h4>FLOORING</h4>
												<ul>
														<li>Balcony: Vitrified Tiles.</li>
														<li>Kitchen: Indian Marble /Stone / Ceramic Tiles.</li>
														<li>Living/Dining: Digital, Laminated anti-skid  Vitrified Tile.</li>
														<li>Master Bedroom: Wooden Laminated Vitrified tile.</li>
														<li>Other: Bedroom, Laminated.</li>
												</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="row margin-bottom-60">
									<div class="col-md-4">
										<div class="testimonial testimonial-bordered padding-15 speci-scroll">
											<figure class="pull-left">
												<img class="IMG-RESPONSIVE" src="assets/images/project-page/KITCHEN.png" alt="KITCHEN">
											</figure>
											<div class="testimonial-content">
													<h4>KITCHEN</h4>
													<ul>
															<li>Italian modular kitchen</li>
															<li>Geysers of Venus heavy duty or equivalent make  in kitchen</li>
															<li>Designer, Modular woodwork and fittings</li>
															<li>Floor, Walls shall feature a combination of high  quality granite Counters shall feature Italian marble</li>
															<li>Double bowl stainless steel sink with drain  board</li>
															<li>Single lever hot and cold water</li>
															<li>Provision for cyilender.</li>
															<li>Doors and Window frames shall be of ivory Coast  Teak</li>
															</ul>
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="testimonial testimonial-bordered padding-15 speci-scroll">
											<figure class="pull-left">
												<img class="IMG-RESPONSIVE" src="assets/images/project-page/BATHROOM.png" alt="BATHROOM">
											</figure>
											<div class="testimonial-content">
													<h4>BATHROOM</h4>
													<ul>
															<li>Single lever C.P. fittings Grohe, Hans Grohe,  branded or equivalent make</li>
															<li>Glass on patch fitting, branded all senitary  work.</li>
															<li>Chinaware, imported, high class wall hung W.C.  and matching wash basin fitted with exhaust fan, mirror, towel rack, rod and  accessories wal to pop ceramic tiles.</li>
													</ul>
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="testimonial testimonial-bordered padding-15 speci-scroll">
											<figure class="pull-left">
													<img class="IMG-RESPONSIVE" src="assets/images/project-page/Walls.png" alt="Walls">
												</figure>
												<div class="testimonial-content">
														<h4>WALLS</h4>
														<ul>
																<li>Exterior/Front Elevation: Stone/Granite/Tile  work along with Stainless Steel railing.</li>
																<li>Interior: Wall to wall POP, J k wall putty,  complete false ceiling, Royal shine paint.</li>
																<li>Kitchen: Ceramic Tiles up to 2 ft above Counter  and rest Painted with OBD</li>
																</ul>
												</div>
										</div>
									</div>
								</div>
	
						</div>
				</section>
			

			<!-- Gallery -->
			<section id="gallery">
				<div class="container">

					<div class="heading-title heading-dotted text-center">
						<h2>Gallery</h2>
					</div>
					<div class="row">

							<div class="col-lg-12">
									<div class="col-lg-3 col-md-4 col-xs-6 thumb">
									<a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Bhasin Homes" data-caption="Sample Site Picture" data-image="assets/images/project-page/gallery/1.jpg" data-target="#image-gallery">
										<img class="img-responsive" src="assets/images/project-page/gallery/1.jpg" alt="Project Picture">
									</a>
								</div>
									<div class="col-lg-3 col-md-4 col-xs-6 thumb">
											<a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Bhasin Homes" data-caption="Sample Site Picture" data-image="assets/images/project-page/gallery/2.jpg" data-target="#image-gallery">
												<img class="img-responsive" src="assets/images/project-page/gallery/2.jpg" alt="Project Picture"></a>
								</div>
									<div class="col-lg-3 col-md-4 col-xs-6 thumb">
											<a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Bhasin Homes" data-caption="Sample Site Picture" data-image="assets/images/project-page/gallery/3.jpg" data-target="#image-gallery">
												<img class="img-responsive" src="assets/images/project-page/gallery/3.jpg" alt="Project Picture"></a>
								</div>
								<div class="col-lg-3 col-md-4 col-xs-6 thumb">
										<a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Bhasin Homes" data-caption="Sample Site Picture" data-image="assets/images/project-page/gallery/4.jpg" data-target="#image-gallery">
											<img class="img-responsive" src="assets/images/project-page/gallery/4.jpg" alt="Project Picture"></a>
									</div>
						</div>
						<div class="col-lg-12">
								<div class="col-lg-3 col-md-4 col-xs-6 thumb">
										<a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Bhasin Homes" data-caption="Sample Site Picture" data-image="assets/images/project-page/gallery/5.jpg" data-target="#image-gallery">
											<img class="img-responsive" src="assets/images/project-page/gallery/5.jpg" alt="Project Picture"></a>
							</div>
								<div class="col-lg-3 col-md-4 col-xs-6 thumb">
										<a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Bhasin Homes" data-caption="Sample Site Picture" data-image="assets/images/project-page/gallery/6.jpg" data-target="#image-gallery">
											<img class="img-responsive" src="assets/images/project-page/gallery/6.jpg" alt="Project Picture"></a>
							</div>
								<div class="col-lg-3 col-md-4 col-xs-6 thumb">
										<a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Bhasin Homes" data-caption="Sample Site Picture" data-image="assets/images/project-page/gallery/7.jpg" data-target="#image-gallery">
											<img class="img-responsive" src="assets/images/project-page/gallery/7.jpg" alt="Project Picture"></a>
							</div>
							<div class="col-lg-3 col-md-4 col-xs-6 thumb">
									<a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Bhasin Homes" data-caption="Sample Site Picture" data-image="assets/images/project-page/gallery/8.jpg" data-target="#image-gallery">
										<img class="img-responsive" src="assets/images/project-page/gallery/8.jpg" alt="Project Picture"></a>
								</div>
					</div>
						
						
						<div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
										<h4 class="modal-title" id="image-gallery-title"></h4>
									</div>
									<div class="modal-body">
										<img id="image-gallery-image" class="img-responsive" src="">
									</div>
									<div class="modal-footer">
						
										<div class="col-md-2">
											<button type="button" class="btn btn-primary" id="show-previous-image">Previous</button>
										</div>
						
										<div class="col-md-8 text-justify" id="image-gallery-caption">
											This text will be overwritten by jQuery
										</div>
						
										<div class="col-md-2">
											<button type="button" id="show-next-image" class="btn btn-default">Next</button>
										</div>
									</div>
								</div>
							</div>
						</div>

					

				</div>
</div>
			</section>
			<!-- /Gallery -->

			<!-- Location -->
             <section id="location" class="alternate">
					<div class="container">
							<div class="heading-title heading-dotted text-center">
									<h2>Our Location</h2>
								</div>
	
						<div class="row">
							<div class="col-sm-12">
									<h2>Know What's Around</h2>
									<ul class="nav nav-tabs" style="background: #7f7f7f;">
											<li class="active"><a data-toggle="tab" href="#tab1">Location Advantages</a></li>
											<li><a data-toggle="tab" href="#tab2">Location Map</a></li>
											<li><a data-toggle="tab" href="#tab3">Master Plan</a></li>
											<li><a data-toggle="tab" href="#tab4">Map</a></li>
										  </ul>
										  
										  <div class="tab-content">
											<div id="tab1" class="tab-pane fade in active"><br/>
													<div class="col-sm-4"> 
															<ul>
																	<li>Near Galgotia University</li>
																	<li>Near Galgotia University</li>
																	<li>Near Galgotia University</li>
																	</ul>
														</div>
													<div class="col-sm-4"> 
														<ul>
																<li>Adjacent International Cricket Stadium</li>
																<li>Adjacent International Cricket Stadium</li>
																<li>Adjacent International Cricket Stadium</li>
																</ul>
													</div>
													<div class="col-sm-4"> 
														<ul>
																<li>12 km from Pari Chowk</li>
																<li>12 km from Pari Chowk</li>
																</ul>
															</div>

											 
											</div>
											<div id="tab2" class="tab-pane fade">
													<img src="assets/images/project-page/location.jpg" class="img-responsive" alt="location" />
											</div>
											<div id="tab3" class="tab-pane fade">
													<img src="assets/images/project-page/master-plan.jpg"  class="img-responsive" alt="master plan" />
											</div>
											<div id="tab4" class="tab-pane fade">
											<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6594.136578961929!2d77.43566805986207!3d28.53038207549542!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cea64b8f89aef%3A0xec0ccabb5317962e!2sGreater+Noida%2C+Uttar+Pradesh!5e0!3m2!1sen!2sin!4v1519484990956" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
										</div>
										  </div>
							</div>
						</div>
	
					</div>
				</section>
				<!-- /Location -->


			<!-- About -->
			<section id="about">
				<div class="container text-center">

					<div class="row text-left">

						<div class="col-sm-6">
							<img src="assets/images/project-page/company.jpg" alt="company" />
						</div>

						<div class="col-sm-6">
							<h3 class="weight-300">Know About <span>Bhasin Homes</span></h3>
						
							<p>We deal in all types of commercial and residential properties for sale, buy and rent/lease in New Delhi. We are customer oriented people with the motto of best customer satisfaction. We provide the good deals and the better option with best prices.Bhasin homes builder floor is one of the residential development of bhasin property located in new delhi the projects.Bhasin Homes is strategically located in the midst of gorgeous and opulent greenery and is wrapped off with fresh air and pollution-free environment. If you wish to live within the first- class ease of access and luxury then this is an ideal dwelling for you. Investing in this property will give you good returns in future. Enjoy spending your life in eternal bliss in close connection with nature. Lead a peaceful life alongwith your family at Bhasin Homes.</p>
							
							

						</div>
					</div>

				</div>
			</section>
			<!-- /About -->


			<!-- CONTACT -->
			<section id="contact">
				<div class="container">

					<header class="text-center margin-bottom-60">
						<h2>Contact Us</h2>
						<p class="lead font-lato">Lorem ipsum dolor sit amet adipiscium elit</p>
						<hr />
					</header>


					<div class="row">

						<!-- FORM -->
						<div class="col-md-8 col-sm-8">

							<h3>Drop us a line or just say <strong><em>Hello!</em></strong></h3>

							

							<form action="#" method="post" enctype="multipart/form-data">
								<fieldset>
									<input type="hidden" name="action" value="contact_send" />

									<div class="row">
										<div class="form-group">
											<div class="col-md-4">
												<label for="contact:name">Full Name *</label>
												<input required type="text" value="" class="form-control" name="contact[name][required]" id="contact:name">
											</div>
											<div class="col-md-4">
												<label for="contact:email">E-mail Address *</label>
												<input required type="email" value="" class="form-control" name="contact[email][required]" id="contact:email">
											</div>
											<div class="col-md-4">
												<label for="contact:phone">Phone</label>
												<input type="text" value="" class="form-control" name="contact[phone]" id="contact:phone">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="form-group">
											<div class="col-md-12">
												<label for="contact:subject">Subject *</label>
												<input required type="text" value="" class="form-control" name="contact[subject][required]" id="contact:subject">
											</div>
											
										</div>
									</div>
									<div class="row">
										<div class="form-group">
											<div class="col-md-12">
												<label for="contact:message">Message *</label>
												<textarea required maxlength="10000" rows="8" class="form-control" name="contact[message]" id="contact:message"></textarea>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="form-group">
											<div class="col-md-12">
												<label for="contact:attachment">File Attachment</label>

												<!-- custom file upload -->
												<input class="custom-file-upload" type="file" id="file" name="contact[attachment]" id="contact:attachment" data-btn-text="Select a File" />
												<small class="text-muted block">Max file size: 10Mb (zip/pdf/jpg/png)</small>

											</div>
										</div>
									</div>

								</fieldset>

								<div class="row">
									<div class="col-md-12">
										<button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> SEND MESSAGE</button>
									</div>
								</div>
							</form>

						</div>
						<!-- /FORM -->


						<!-- INFO -->
						<div class="col-md-4 col-sm-4">

							<h2>Visit Us</h2>

							<hr />

							<p>
								<span class="block"><strong><i class="fa fa-map-marker"></i> Address:</strong> Street Name, City Name, Country</span>
								<span class="block"><strong><i class="fa fa-phone"></i> Phone:</strong> <a href="tel:1800-555-1234">1800-555-1234</a></span>
								<span class="block"><strong><i class="fa fa-envelope"></i> Email:</strong> <a href="mailto:mail@yourdomain.com">mail@yourdomain.com</a></span>
							</p>

						</div>
						<!-- /INFO -->

					</div>

				</div>
			</section>
			<!-- /CONTACT -->

			<section class="parallax parallax-2" style="background-image: url(&quot;assets/images/project-page/bg3.jpg&quot;); background-position: 50% 67px;">
				<div class="overlay dark-8"><!-- dark overlay [1 to 9 opacity] --></div>

				<div class="container">

					<div class="text-center">
						<h3 class="nomargin">Share Your Thoughts</h3>
						<p class="font-lato weight-300 lead nomargin-top">We can't solve problems by using the same kind of thinking we used when we created them.</p>
					</div>

					<ul class="margin-top-80 social-icons list-unstyled list-inline">
						<li>
							<a target="_blank" href="#">
								<i class="fa fa-facebook"></i>
								<h4>Facebook</h4>
								<span>Be Our Friend</span>
							</a>
						</li>
						<li>
							<a target="_blank" href="#">
								<i class="fa fa-twitter"></i>
								<h4>Twitter</h4>
								<span>Follow Us</span>
							</a>
						</li>
						<li>
							<a target="_blank" href="#">
								<i class="fa fa-youtube"></i>
								<h4>Youtube</h4>
								<span>Our Videos</span>
							</a>
						</li>
						<li>
							<a target="_blank" href="#">
								<i class="fa fa-instagram"></i>
								<h4>Instagram</h4>
								<span>See Our Images</span>
							</a>
						</li>
						<li>
							<a target="_blank" href="#">
								<i class="fa fa-linkedin"></i>
								<h4>Linkedin</h4>
								<span>Check Our Identity</span>
							</a>
						</li>
						<li>
							<a target="_blank" href="#">
								<i class="fa fa-pinterest"></i>
								<h4>Pinterest</h4>
								<span>Visual Discovery</span>
							</a>
						</li>
					</ul>

				</div>

			</section>
			<!-- /FOOTER -->

          <!-- More Properties -->
			<section id="properties">
					<div class="container">
							<div class="heading-title heading-dotted text-center">
									<h2>Our More Properties</h2>
								</div>
	
						<div class="row">
							<div class="col-sm-12">
											<h4>2 out of 109 <a href="#properties">Residential Properties</a></h4> 
											<div class="panel panel-warning">
													<div class="panel-heading"><a href="">₹ 1.37 Crore , 3 BHK, Independent/Builder Floor in Sector-23 Gurgaon</a></div>
													<div class="panel-body">
															<div class="media">
																	<div class="media-left">
																	  <img src="assets/images/room.jpeg" class="media-object">
																	  <p><a href="#">5  Property Photos</a></p>
																	<p><a href="#">1 Locality Video</a></p>
																	</div>
																	<div class="media-body">
																			<p>Super built-up Area : 650 Sq.Ft. @ ₹8769/Sq.Ft.</p><hr>
																			<p><b>Highlights:</b> New Booking /  Ready to move /  0 to 1 years old /  Freehold /  1st Floor (out of 4) /  Reserved Parking </p><hr>
																			<p><b>Description :</b> Find your living in this independent/builder floor which is available for sale in the city delhi. The property is ... <a href="#"></a>read more</p><hr>
																			<p><b>Post by:</b>YDR Buildcon <b>Post Date:</b>12/01/2018</p>
																		</div>
																	<!-- Trigger the modal with a button for contact owner-->
																	<button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#contact1">Contact Owner</button>
	
																	<!-- Modal -->
																	<div id="contact1" class="modal fade" role="dialog" style="display: none;">
																	<div class="modal-dialog">
	
																		<!-- Modal content-->
																		<div class="modal-content">
																		<div class="modal-header">
																			<button type="button" class="close" data-dismiss="modal">×</button>
																			<h4 class="modal-title">Modal Header</h4>
																		</div>
																		<div class="modal-body">
																			<p>contact text in the modal.</p>
																		</div>
																		<div class="modal-footer">
																			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
																		</div>
																		</div>
	
																	</div>
																	</div>
																	<!-- Trigger the modal with a button for phone no.-->
																		<button type="button" class="btn btn-default btn-md" data-toggle="modal" data-target="#phoneno1">View Phone Number</button>
	
																		<!-- Modal -->
																		<div id="phoneno1" class="modal fade" role="dialog" style="display: none;">
																		<div class="modal-dialog">
	
																			<!-- Modal content-->
																			<div class="modal-content">
																			<div class="modal-header">
																				<button type="button" class="close" data-dismiss="modal">×</button>
																				<h4 class="modal-title">Modal Header</h4>
																			</div>
																			<div class="modal-body">
																				<p>Some text in the modal.</p>
																			</div>
																			<div class="modal-footer">
																				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
																			</div>
																			</div>
	
																		</div>
																		</div>
																  </div>
													</div>
											</div>
											<div class="panel panel-warning">
													<div class="panel-heading"><a href="">₹ 1.37 Crore , 3 BHK, Independent/Builder Floor in Sector-23 Gurgaon</a></div>
													<div class="panel-body">
															<div class="media">
																	<div class="media-left">
																	  <img src="assets/images/room.jpeg" class="media-object">
																	  <p><a href="#">5  Property Photos</a></p>
																	<p><a href="#">1 Locality Video</a></p>
																	</div>
																	<div class="media-body">
																			<p>Super built-up Area : 650 Sq.Ft. @ ₹8769/Sq.Ft.</p><hr>
																			<p><b>Highlights:</b> New Booking /  Ready to move /  0 to 1 years old /  Freehold /  1st Floor (out of 4) /  Reserved Parking </p><hr>
																			<p><b>Description :</b> Find your living in this independent/builder floor which is available for sale in the city delhi. The property is ... <a href="#"></a>read more</p><hr>
																			<p><b>Post by:</b>YDR Buildcon <b>Post Date:</b>12/01/2018</p>
																		</div>
																	<!-- Trigger the modal with a button for contact owner-->
																	<button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#contact2">Contact Owner</button>
	
																	<!-- Modal -->
																	<div id="contact2" class="modal fade" role="dialog">
																	<div class="modal-dialog">
	
																		<!-- Modal content-->
																		<div class="modal-content">
																		<div class="modal-header">
																			<button type="button" class="close" data-dismiss="modal">×</button>
																			<h4 class="modal-title">Modal Header</h4>
																		</div>
																		<div class="modal-body">
																			<p>contact text in the modal.</p>
																		</div>
																		<div class="modal-footer">
																			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
																		</div>
																		</div>
	
																	</div>
																	</div>
																	<!-- Trigger the modal with a button for phone no.-->
																		<button type="button" class="btn btn-default btn-md" data-toggle="modal" data-target="#phoneno">View Phone Number</button>
	
																		<!-- Modal -->
																		<div id="phoneno" class="modal fade" role="dialog">
																		<div class="modal-dialog">
	
																			<!-- Modal content-->
																			<div class="modal-content">
																			<div class="modal-header">
																				<button type="button" class="close" data-dismiss="modal">×</button>
																				<h4 class="modal-title">Modal Header</h4>
																			</div>
																			<div class="modal-body">
																				<p>Some text in the modal.</p>
																			</div>
																			<div class="modal-footer">
																				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
																			</div>
																			</div>
	
																		</div>
																		</div>
																  </div>
													</div>
											</div>
											<ul class="pagination">
													<li class="active"><a href="#">1</a></li>
													<li><a href="#">2</a></li>
													<li><a href="#">3</a></li>
													<li><a href="#">4</a></li>
													<li><a href="#">5</a></li>
												  </ul>		

							</div>
						</div>
	
					</div>
				</section>
				<!-- /More Properties -->




			<!-- FOOTER -->
			<footer id="footer">
				<div class="container">


					<div class="row">

						<!-- col #1 -->
						<div class="col-md-8">

							<h3 class="letter-spacing-1">WHY BHASIN HOMES?</h3>

							<!-- Small Description -->
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur imperdiet hendrerit volutpat. Sed in nunc nec ligula consectetur mollis in vel justo. Vestibulum ante ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur imperdiet hendrerit volutpat.
							</p>
							<h2>(800) 123-4567</h2>
						</div>
						<!-- /col #1 -->

						<!-- col #2 -->
						<div class="col-md-4">
							<h3 class="letter-spacing-1">KEEP IN TOUCH</h3>

							<!-- Newsletter Form -->
							<p>Subscribe to Our Newsletter to get Important News & Offers</p>

							<form class="validate" action="php/newsletter.php" method="post" data-success="Subscribed! Thank you!" data-toastr-position="bottom-right">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
									<input type="email" id="email" name="email" class="form-control required" placeholder="Enter your Email">
									<span class="input-group-btn">
										<button class="btn btn-success" type="submit">Subscribe</button>
									</span>
								</div>
							</form>
							<!-- /Newsletter Form -->


						</div>
						<!-- /col #2 -->

					</div>


				</div>

				<div class="copyright">
					<div class="container">
						<ul class="pull-right nomargin list-inline mobile-block">
							<li><a href="#">Terms &amp; Conditions</a></li>
							<li>&bull;</li>
							<li><a href="#">Privacy</a></li>
							<li><span class="glyphicon glyphicon-check"></span> Powered By <a href="Propertytrees.com">Propertytrees</a></li>
						</ul>
						&copy; All Rights Reserved, Bhasin Homes Pvt. Ltd.
						
					</div>
				</div>

			</footer>
			<!-- /FOOTER -->

		</div>
		<!-- /wrapper -->


		<!-- SCROLL TO TOP -->
		<a href="#" id="toTop"></a>

		
		
		<!-- REVOLUTION SLIDER -->
		<script type="text/javascript" src="assets/plugins/slider.revolution/js/jquery.themepunch.tools.min.js"></script>
		<script type="text/javascript" src="assets/plugins/slider.revolution/js/jquery.themepunch.revolution.min.js"></script>
		<script type="text/javascript" src="assets/js/demo.revolution_slider.js"></script>


		